[2020-06-16 09:04] zeno-at opened #1 "support of Xiaomi Temperature sensor"
unfortunately I cannot pair Xiaomi temperature sensor! in your supported device list Xiaomi is not listed, is this my problem ?

[2020-06-17 14:06] madchicken commented on #1
No, Xiaomi devices are not currently supported, but it should be easy to add them since I see they are supported by zigbee-herdsman

[2020-06-18 09:39] zeno-at commented on #1
may I hope for a fast solution? thx

[2020-06-18 09:43] madchicken commented on #1
Definitely yes. I am solving some basic problem on this plugin. After that I'll start adding more devices. At the moment I started from devices I own, to be able to test them

[2020-07-03 07:12] manuchis opened #2 "Supporting new devices"
Hi! thanks for mantaining the plugin and keep updating.

I've forked your project to add new devices. I would like to learn how to do it so I don't have to disturb you (if sucessful we can do some merge). However I failed on my adventure in creating new accesory with a Gledopto device.
I've updated the accessories folder making use of Ikea bulb dimmer which has the same properties of Gledopto dimm

[2020-07-03 08:35] madchicken commented on #2
Hi! I'm super happy to see interest around this plugin. Two things here:

- Please, take a look to my last update (v1.0.0-rc.1), I am restructuring the code to make easier to create new devices. I also added a couple of new devices (ikea on/off button and xiaomi temperature sensors).
- I will update the wiki to explain how to add new devices soon

Regarding your fork:
- The only thing you are miss

[2020-07-03 15:05] manuchis commented on #2
Thanks, I believe I'm having issues making my changes work. I'm trying to install from github branch but it seems it is not installing properly. I will post updated when fixed

[2020-07-03 19:25] madchicken commented on #2
There are many ways to test plugins, and you can find a lot of documentation out there, but my preferred way is to clone the repo In my home dir, build the plugin with `yarn build` and then create a link to the plugin folder from `/usr/local/lib/node_modules`. In this way, the plugin looks like it was installed from 6pm to homebridge, but you are able to change it and recompile as much as you want

[2020-07-04 07:54] manuchis commented on #2
Great! it worked smoothly!
many thanks.

[2020-07-04 07:54] #2 closed

[2020-07-04 09:00] madchicken commented on #2
looking for a PR now 🙂

[2020-07-04 12:10] manuchis opened #5 "Ikea ON/OFF appears by default"
Hi again, in the rc1 the Ikea ON/OFF accesory appears by default and then the logs show errors because there is no connection to the devices ( obviously ). Is there a way to deactivate it ?

Thanks again for great work and improvements!

[2020-07-04 13:41] madchicken commented on #5
This is absolutely weird. Can you check the content of the zigbee database? The platform should only map the devices registered in the db...

[2020-07-04 14:02] manuchis commented on #5
Here it is:
`{"id":2,"type":"EndDevice","ieeeAddr":"0x14b457fffec8d738","nwkAddr":21286,"manufId":4476,"manufName":"IKEA of Sweden","powerSource":"Battery","modelId":"TRADFRI on/off switch","epList":[1],"endpoints":{"1":{"profId":260,"epId":1,"devId":2080,"inClusterList":[0,1,3,9,32,4096,64636],"outClusterList":[3,4,6,8,25,258,4096],"clusters":{"genBasic":{"attributes":{"modelId":"TRADFRI on/off s

[2020-07-04 14:04] madchicken commented on #5
try deleting it from the database, is should work (you probably need to remove it also from Homebridge cache). Btw, there is no easy way to remove devices, I know...

[2020-07-04 14:07] manuchis commented on #5
Done, sorry I thought that it was related to the update.

[2020-07-04 14:07] #5 closed

[2020-07-07 11:37] manuchis opened #6 ""No response" message"
Hi, after some days testing the configuration I notice that some sensors have some delay on updating or do not respond on the Home app. When I push the button it takes a while but then reacts (it is not that it does not have signal, but has some delay). I'm not sure if it is related to the implementation, to the dongle or the raspberry (it only happens with the devices connected with this plugin),

[2020-07-07 13:40] galzil opened #7 "Device request"
Can you please add Tuya devices?
Specifically [this one](https://www.zigbee2mqtt.io/devices/GDKES-02TZXD.html)
I didn't understand how to add it myself

[2020-07-07 13:46] galzil opened #8 "for Hoobs users"
There seem to be an issue with Hoobs and other pre V.1 users.
`The requested platform "ZigbeeHomebridgeNTPlatform" was not registered by any plugin.
Your config.json is requesting the platform "ZigbeeHomebridgeNTPlatform" which has not been published by any installed plugins.`

I read [here](https://github.com/hjdhjd/homebridge-myq2/issues/63), that this might fix the issue.
changing:
api.register

[2020-07-07 20:25] madchicken commented on #7
Shouldn’t be difficult. I’ll try to add it in the RC2

[2020-07-08 08:19] madchicken commented on #6
Yes, I was observing the same behavior and I think is related to the way I am handling the response. Could you try the RC2 branch and see if it is better? I am out for vacation this week, so it’s difficult for me to try anything

[2020-07-08 08:20] madchicken commented on #8
I will push this into RC2

[2020-07-08 08:44] galzil commented on #8
Thank you! can't wait to use this plugin

[2020-07-08 08:45] galzil commented on #7
Thank you

[2020-07-08 13:47] manuchis commented on #6
I did the update manually, I think now is better.
I will keep an eye on it.

[2020-07-08 15:26] manuchis commented on #1
I've been trying to pair an Aqara sensor with RC2, supposedly the same spects than Xiaomi, and its not working:

My db:
'{"id":2,"type":"EndDevice","ieeeAddr":"0x00158d00047b5957","nwkAddr":56475,"manufId":4151,"manufName":"LUMI","powerSource":"Battery","modelId":"lumi.weather","epList":[1],"endpoints":{"1":{"profId":260,"epId":1,"devId":770,"inClusterList":[0,3,65535,1026,1027,1029],"outClusterLi

[2020-07-11 08:49] madchicken commented on #1
Is the plugin recognising the device? Or it simply prints `Unrecognized device: ...`?

[2020-07-11 10:05] bcharbonnier commented on #1
I also did not manage to pair an Aqara temp/humidity/pressure.

The pairing seems to go normal, the device is found, it shows “Found ZigBee device: “ (with the configuration detected and then next log is “unrecognized ZigBee device ...”

Nonetheless, the address seems good, the manufacturer and model are ok, and then I can also see in the logs messages coming from it, but discarded as “No device f

[2020-07-11 12:05] madchicken commented on #1
I think the problem is the manufacturer name that is different: I used Xiaomi when from the json posted above is LUMI. We can fix it easily by changing the registration string

[2020-07-11 12:12] manuchis commented on #1
Yes, maybe. I will give a try later.

Manuel Portela, PhD
Cel Es. +34 600 851 104
Follow me: @Portela_Man
manuchis.net
El 11 jul 2020 14:05 +0200, Pierpaolo Follia <notifications@github.com>, escribió:

[2020-07-11 19:35] bcharbonnier commented on #1
Thanks @madchicken! Works like a charm now!

[2020-07-11 20:30] madchicken commented on #7
@galzil Could you try the RC2 branch? I'd like to see if it works before merging into master

[2020-07-12 05:05] galzil commented on #7
Thanks, I'll try to install it (HOOBS only installs from NPM)

[2020-07-12 06:53] galzil commented on #7
Unfortunatelly, HOOBS doesn't like rc installs, The install failed midway and now the pluging is not loading at all.
I'll re install the master

[2020-07-12 12:35] madchicken commented on #7
Ok, let's merge it then and give it a try...

[2020-07-12 14:08] madchicken commented on #7
@galzil could you send me the content of your zigbee.db file? Should be in the same folder where you store the homebridge config file

[2020-07-13 08:43] madchicken commented on #7
Sorry, I just realised that you cannot run the plugin, so you don't have any db file. I'll release the RC2, let's see how it goes.

[2020-07-13 08:43] #1 closed

[2020-07-13 08:43] #6 closed

[2020-07-13 08:43] #7 closed

[2020-07-13 11:14] galzil commented on #7
I'll have to wait a bit, HOOBS still shows only RC1, they have a bit of a delay

[2020-07-17 08:20] manuchis opened #11 "Unable to find ZigBee port"
Suddenly yesterday everything stopped working, I got this error after restarting the RaspberryPi:
[code]

 I've tried many things but I couldn't find a way.
Any guess?

[2020-07-17 09:40] galzil commented on #8
Unfortunatell, I'll have to wait for the next release, HOOBS doesn't allow NPM updates

[2020-07-17 13:53] madchicken commented on #8
What do you mean, you can uninstall the plugin and install the latest version for sure.

[2020-07-18 08:25] manuchis commented on #11
Update: I fixed it by unplugging the Raspberry, it was the only way. Now I have some devices without response, but going step by step.

[2020-07-18 08:25] #11 closed

[2020-07-18 10:42] manuchis opened #12 "Errors in RC2"
After updating to RC2 I cannot run the plugin (I built it in local, RC1 works well):

[code]

[2020-07-21 15:53] madchicken commented on #12
Thanks for reporting, could you try with the RC3 branch?

[2020-07-22 16:30] madchicken commented on #12
I am pretty sure the problem is related to a wrong dependency and I see it resolved in RC3 branch. I will release it soon

[2020-07-23 19:37] #12 closed

[2020-07-23 20:28] madchicken opened #16 "Ping device sometimes goes in loop"
Still not very sure about the correct way to replicate this, but it seems that after pairing a coordinator device, if the ping device is set to true, the plugin goes in an endless loop making the whole homebridge unresponsive

[2020-08-03 05:57] galzil commented on #8
I've just updated to rc3, unfortunatelly, I was wrong about the solution, I get the same error.
Is there a special path for the installation? Hoobs has the homebridge in a different location

[2020-08-04 17:57] bcharbonnier opened #17 "Devices not registered and therefore missing in RC3"
I have noticed a very weird thing after updating to RC3.
My `LUMI lumi.weather` devices are not working anymore.
They appear to be _not recognised_ in the log when the plugin try to load them from the database.

After investigation, I discovered that the RC3 published on npm is missing a lot of devices!!
This is the `index.js` published on npm -> https://unpkg.com/homebridge-zigbee-nt@1.0.0-rc.3/d

[2020-08-08 03:40] vascott1 opened #18 "IKEA motion sensor?"
Hi there. Got this up and running and when I put the motion sensor in "pairing" mode it shows up. All the info is there but it says it is unrecognized. It says this every minute. I turned off the ability to allow new things to be discovered and the errors went away. Is the motions sensor supported? Is there something I need to add to the config?

Thanks!

[2020-08-10 10:10] madchicken commented on #17
Ok, this is absolutely weird. I will investigate

[2020-08-10 10:23] madchicken commented on #17
Should be fixed in RC4. Please check it.

[2020-08-10 10:23] #17 closed

[2020-08-10 10:24] #16 closed

[2020-08-10 10:25] madchicken commented on #18
Just to be sure, are we talking about this? https://www.zigbee2mqtt.io/devices/E1525_E1745.html

[2020-08-10 11:05] vascott1 commented on #18
Yes. That is the device I have.

[2020-08-10 11:14] madchicken commented on #18
I added it to the next release. If you want I can publish it as unstable, so you can try it now.

[2020-08-10 11:34] vascott1 commented on #18
That would be great :) can you tell

Me how I would install the unstable

Release?

Thanks very much!

[2020-08-10 15:34] madchicken commented on #18
You should do it by doing something like:
[code]

[2020-08-10 22:04] vascott1 commented on #18
Tried unstable. No luck installing Guess I will wait for the next release

pi@homebridge:/dev $ sudo -E -n npm install homebridge-zigbee-nt@unstable

prebuild-install WARN install No prebuilt binaries found (target=12.18.0 runtime=node arch=arm libc= platform=linux)
gyp ERR! configure error
gyp ERR! stack Error: EACCES: permission denied, mkdir '/dev/node_modules/@serialport/bindings/build'
gyp ER

[2020-08-11 12:26] madchicken commented on #18
I released version 1.0.0, you can try it out. It also add a backup radio channel to improve reliability of the dongle (sorry, this is an issue with the HW, not the plugin).
I am gonna close this. Feel free to reopen a new one if the added device doesn't work

[2020-08-11 12:26] #18 closed

[2020-08-11 12:29] vascott1 commented on #18
Thanks. Will test it this evening. Really appreciate the hard work. Hopefully I will start seeing devices being added. Still not sure why that stopped!

[2020-08-12 22:54] vascott1 opened #21 "Unable to register any devices"
I am running the latest build. homebridge-zigbee-nt v1.0.0 on HomeBridge 1.1.1  When I first installed it I was having issues with the Ikea motions sensor which this build should have fixed. Now, when I put set the ZigBee Permit Join to "on" and try to pair my devices I am getting nothing at all while I watch the logs. I get this:

[8/12/2020, 18:48:00] [ZigBee] ZigBee platform initialized @ 0x001

[2020-08-13 16:21] madchicken commented on #21
Could you try to repair the device and then send me the logs? From this log it doesn't seem the device has been mapped

[2020-08-13 17:29] vascott1 commented on #21
[config.json.zip](https://github.com/madchicken/homebridge-zigbee-nt/files/5070498/config.json.zip)

[2020-08-14 20:26] KingSchick opened #22 "Can't pair the Aquara Door/Window Sensor"
At first it looks like it would work:

[2020-8-14 22:22:14] [ZigBee] Zigbee: allowing new devices to join.
[2020-8-14 22:22:22] [ZigBee] Accepting joining whitelisted device '0x00158d00054e79e5'
[2020-8-14 22:22:22] [ZigBee] Device joined, Adding 0x00158d00054e79e5 (undefined - undefined)
[2020-8-14 22:22:22] [ZigBee] Interview progress started for device 0x00158d00054e79e5
[2020-8-14 22:22:22] [Z

[2020-08-17 07:08] madchicken commented on #21
Resolved with #23

[2020-08-17 07:08] #21 closed

[2020-08-17 07:09] madchicken commented on #22
This sensor is still not supported, I'll add it in the next release

[2020-08-17 15:45] madchicken commented on #22
Sorry, what I wrote up there is actually incorrect: the device is supported, but the model in the plugin was not the right one (the plugin could not get a match)

[2020-08-17 15:58] KingSchick commented on #22
Is there anything I can do?

Pierpaolo Follia <notifications@github.com> schrieb am Mo. 17. Aug. 2020 um
17:45:

[2020-08-17 16:14] madchicken commented on #22
No @KingSchick, I'll update the plugin soon

[2020-08-17 16:24] KingSchick commented on #22
Great, thanks for the support 👏🏻

[2020-08-17 16:42] #22 closed

[2020-08-17 17:13] KingSchick opened #25 "Errors while installing the plugin + Aquara door/window contact still doesn't work."
There are still some errors occurring while installing the plugin in Homebridge.

Also I still can't add my Xiaomi Aquara Door/Window sensor. The issue is all the same as my lastly reported issue.

I've reinstalled the plugin multiple times and tried a bunch of different devices.

I hope you can help.

[2020-08-17 17:21] KingSchick commented on #25
prebuild-install WARN install No prebuilt binaries found (target=12.18.3 runtime=node arch=arm libc= platform=linux)
make: Verzeichnis „/home/pi/node_modules/@serialport/bindings/build“ wird betreten
  CXX(target) Release/obj.target/bindings/src/serialport.o
In file included from ../src/./serialport.h:6,
                 from ../src/serialport.cpp:1:
../../../nan/nan.h: In function ‘void Nan::Asyn

[2020-08-17 17:21] KingSchick commented on #25
[2020-8-17 19:15:24] [ZigBee] Zigbee: allowing new devices to join.
[2020-8-17 19:15:26] [Config] [admin] Accessory layout changes saved.
[2020-8-17 19:15:39] [ZigBee] Accepting joining whitelisted device '0x00158d00054e79e5'
[2020-8-17 19:15:39] [ZigBee] Device joined, Adding 0x00158d00054e79e5 (undefined - undefined)
[2020-8-17 19:15:39] [ZigBee] Interview progress started for device 0x00158d000

[2020-08-24 07:26] madchicken commented on #25
Sorry for the late reply, I was really busy during last period. Please ignore warnings during the plugin installation: those are coming from compilation of SerialPort module, but they should not hurt.
Regarding your sensor, I am sorry, I mapped the `lumi.sensor_magnet` instead of your `lumi.sensor_magnet.aq2`. I'll fix in the next release.

[2020-08-24 07:27] KingSchick commented on #25
No Problem, i can wait :)

[2020-08-26 12:33] #25 closed

[2020-09-03 09:07] j4n-co commented on #11
I'm getting this error when running this plugin from a Dockerized Homebridge on my Synology.

Running `dmesg` from inside the Docker container produces the following, so the stick is recognized, I'm just not sure if it's being mounted anywhere. `/dev/ttyACM0` on the docker host does exist though...

[code]

[2020-09-13 18:12] EdwardChamberlain commented on #8
I also receive this error through HOOBS.

[2020-09-14 08:02] madchicken commented on #8
I'll take a look to HOOBS API...

[2020-09-14 16:15] xrust83 opened #29 "Please add button Aqara and Magic Cude Aqara"
[log.txt](https://github.com/madchicken/homebridge-zigbee-nt/files/5219698/log.txt)

[2020-09-14 17:04] xrust83 commented on #29
I use a stick from aliexpress https://aliexpress.ru/item/4000816404730.html
I see responses to device responses. Perhaps for normal operation it needs to be reflashed or updated?

[2020-09-14 21:04] EdwardChamberlain opened #30 "Feature: Add ability for "power points" to be displayed as “switches""
Currently I can set my ikea sockets to be displayed as power points, fans, or lights. It would be nice to have them be able to work as switches too. I dont know if this is a HomeKit limitation.

[2020-09-16 05:57] xrust83 commented on #29
[zigbee log.txt](https://github.com/madchicken/homebridge-zigbee-nt/files/5229954/zigbee.log.txt)

[2020-09-16 18:00] madchicken commented on #30
Unfortunately yes, it's an Homekit limitation. I don't have a way to modify how the app shows accessories I map

[2020-09-16 18:00] #30 closed

[2020-09-16 18:03] EdwardChamberlain commented on #30
Is there an option to change how it maps? e.g. map to switch rather than socket?

[2020-09-16 21:11] madchicken commented on #30
Te only way is to create a switch accessory from Homebridge

[2020-09-22 07:03] madchicken commented on #29
The device pairs but it is not recognised by the plugin (i.e. not mapped by any accessory). Should be fairly easy to add it

[2020-09-25 18:02] EdwardChamberlain opened #32 "Error “Reading State""
Hi, there seems to be a error that causes the entire module to stop responding. Log shows repeated copies of this message:

[code]

[2020-09-26 12:28] tomerakower opened #33 "Lonsonho X712A"
Sep 26 15:13:40 homebridge npm[27035]: Zigbee2MQTT:info  2020-09-26 15:13:40: MQTT publish: topic 'zigbee2mqtt/bridge/log', payload '{"message":"interview_successful","meta":{"description":"Smart light switch - 2 gang without neutral wire","friendly_name":"0xbc33acfffe62ef4e","model":"TS0012","supported":true,"vendor":"TuYa"},"type":"pairing"}'
Sep 26 15:13:40 homebridge npm[27035]: Zigbee2MQTT:in

[2020-09-27 14:20] EdwardChamberlain commented on #32
Also in the log is repeated:
[code]

[2020-09-27 14:21] EdwardChamberlain commented on #32
This seems to be a repeated issue requiring a restart of the server (raspberry pi), restarting the service is not working.

[2020-09-29 07:21] madchicken commented on #32
Can you tell me which dongle are you using (and firmware)? Also, which device did you pair?

[2020-09-29 07:26] EdwardChamberlain commented on #32
Sure:
Dongle: CC2531
Firmware: CC2531ZNP-2018090201.hex (as specified [here](https://github.com/itsmepetrov/homebridge-zigbee/blob/master/docs/Flashing.md))
And I paired an [Ikea socket](https://www.ikea.com/gb/en/p/tradfri-control-outlet-kit-10364797/)

The socket works (I have about 8 paired) and is functional ~80% of the time. This error shows up about 2/3 times a week and requires a hard reboo

[2020-10-09 09:57] madchicken commented on #32
Uhm, I think that one is a bit outdated, can you try reflashing with this?

 https://github.com/Koenkk/Z-Stack-firmware/tree/master/router/CC2531

[2020-10-09 12:40] wamfox opened #36 "Cannot Configure Device (ikea ON/OFF button)"
This seems to be an issue with the ikea steering devices. They work but print this message in the log:

![image](https://user-images.githubusercontent.com/72502560/95583866-23f0b000-0a80-11eb-9202-1ccfedde7cfe.png)

 The device will sometimes be unresponsive to input for a few clicks as homebridge-zigbee-nt remounts the device

[2020-10-11 10:43] EdwardChamberlain commented on #32
I will give updating the stick firmware a go. (hopefully I wont have to re-pair everything!)

I think I have managed to make the error slightly more reproducible. I have a scene set in apple home (called “night”) that turns everything in the house off but it also turns off “allow Zigbee join” and “Zigbee Touchlink”. It seems to be that when I run this scene the plug-in dies!

I was able to catch t

[2020-10-11 14:39] wamfox commented on #36
The unresponsiveness does seem to be fixed after a re-pair. But the error message persists.

[2020-10-12 07:33] madchicken commented on #32
Ah! Tochlink should not be "touched" until you really want to factory reset some device, because it changes the status of the dongle and set it to a different mode. I would suggest to move out from the scene the two virtual buttons

[2020-10-12 12:59] madchicken commented on #33
I'll try to work on this. Sorry I am very busy in this period...

[2020-10-16 09:16] tutasca commented on #29
Same here with aqara opple 4 buttons. Really cheap buttons  https://www.aliexpress.com/i/4000317941888.html
. Log looks identical
I have no coding skills.
Please help.

;)

[10/16/2020, 10:12:05] [ZigB] No device found from message {
  type: 'commandStep',
  device: Device {
    ID: 4,
    _type: 'EndDevice',
    _ieeeAddr: '0x04cf8cdf3c792af9',
    _networkAddress: 18507,
    _manufacturerID: 444

[2020-10-16 10:41] xrust83 commented on #29
Update 1.0.5 did not affect the issue in any way
[10/16/2020, 13:38:12] [ZigBee] Zigbee message from 0x00158d0002a37354 attributeReport
[10/16/2020, 13:38:12] [ZigBee] No device found from message {
  type: 'attributeReport',
  device: Device {
    ID: 4,
    _type: 'EndDevice',
    _ieeeAddr: '0x00158d0002a37354',
    _networkAddress: 61542,
    _manufacturerID: 4151,
    _endpoints: [ [Endpoint]

[2020-10-16 10:45] xrust83 commented on #29
[ZigBee] Found ZigBee device:  Device {
  ID: 5,
  _type: 'EndDevice',
  _ieeeAddr: '0x00158d00020442d7',
  _networkAddress: 20311,
  _manufacturerID: 4151,
  _endpoints: [
    Endpoint {
      ID: 1,
      profileID: undefined,
      deviceID: undefined,
      inputClusters: [],
      outputClusters: [],
      deviceNetworkAddress: 20311,
      deviceIeeeAddress: '0x00158d00020442d7',
      clust

[2020-10-17 17:18] shmaaat opened #38 "Sonoff zigbee"
Is this working with sonoff zigbee devices?

[2020-10-19 09:31] mrdc opened #39 "[feature] Elgato Eve history support?"
Hello,

Would be nice to have Elgato Eve history support like in abandoned homebridge-zigbee plugin.

Source is here:
https://github.com/simont77/fakegato-history

[2020-10-19 21:00] xrust83 commented on #38
yes

[2020-10-25 16:10] manuchis commented on #32
Hi! I'm confused here... I'm having a lot of troubles and I thought that reflashing the dongle would solve it. I saw your suggestion @madchicken about the new version, however you point to a "router" version and not  to a "coordinator". And coordinator in that repository is the old one. I flashed with the router version and it is not recognized now, so I will go back to the previous version. Can y

[2020-10-25 17:19] tutasca opened #40 "Request new device Aqara opple button"
Hi.
Sorry as I posted this on another thread
Can you add support for this opple wireless button?
https://www.aliexpress.com/i/4000317941888.html
Thanks

[2020-10-25 22:35] HA-Lemme opened #41 "Aqara lumi.vibration sensor isnt pairing"
Hey ,

I'm new to Hombridge and I'm using the very nice hombridge-zigbee-nt plugin,
I was able to connect contact sensors from Aqara but the vibration sensor isn't working.
As I'm trying to connect it it says the device isn't recognized and from there on I'm only getting no device found messages from the device.

I already checked if the sensor is supported and it should be.

Here is some output:

[2020-10-30 13:39] #38 closed

[2020-11-04 17:53] manuchis commented on #32
Hi! I still running with problems. After one or two days the raspberry start receiving errors from the Zigbee. The only way to recover is to unplug the raspberry (no command makes it work, even reboot).

Node version 12.19
Plugin version 1.0.5
UI version 4.31.0

Log:
[code]

[2020-11-07 07:21] manuchis commented on #32
Ok, same problem appeared in the Zigbee2Mqtt and it was solved in 1.15.0 version. I'm trying to figure out what is the reason and how to solve it.

https://github.com/Koenkk/zigbee2mqtt/issues/4307

[2020-11-07 11:12] lucaskoehler opened #43 "Simple way to remove paired devices"
I can‘t find a way to remove a paired device.
Even after reinstalling the zigbee plugin all devices remain in homebridge.
A button vor something like that whould help a lot.
Thanks!

[2020-11-07 12:26] madchicken commented on #32
It seems there is a firmware that is more stable now (source routing). We should definitely try it. I will updated dependencies in the meanwhile

[2020-11-07 12:40] manuchis commented on #32
I’ve already tested changing the router fw but does not solves the problem, also in the z2m thread they tested with original fw.
The problem was solved in the z2m code but I cannot figure out how.

Manuel Portela, PhD
Cel Es. +34 600 851 104
Follow me: @Portela_Man
manuchis.net
El 7 nov 2020 13:26 +0100, Pierpaolo Follia <notifications@github.com>, escribió:

[2020-11-07 13:41] madchicken commented on #43
Yeah, I know. Removing accessories is not easy ATM. Unfortunately I don't have much time to implement a decent web UI to do that in this period, since I am really busy with my real job. Stay tuned, it's definitely something I want to add

[2020-11-07 13:42] madchicken commented on #41
Yeah, that device is not mapped between the known ones. I'll see what I can do to add it

[2020-11-08 10:10] HA-Lemme commented on #41
Good Morning Madchicken,

Thx for your answer, I would really appreciate this.

[2020-11-09 15:09] lucaskoehler commented on #43
Thanks for the information! Looking forward to your next updates 😊
Is there currently a kind of workaround to manually remove devices?

[2020-11-10 11:33] madchicken commented on #43
You need to edit the zigbee database file, that should be under your homebridge configuration folder. It's a JSON file, just remove from there the device you don't want anymore

[2020-11-11 16:27] EdwardChamberlain commented on #32
I can confirm that I am still having this issue every 2/3 days. Still not 100% sure what is causing it but avoiding the touchlink buttons doesn't seem to have resolved it. Further error messages:

[code]

It seems that zigbee2MQTT doesn't face this issue but I would like to continue using this plugin due to the ease of adding devices.

[2020-11-12 14:05] manuchis commented on #32
I have my zigbee devices turned off for a week now...
My last errors were:
[code]
It's looks like that I have to map everything again, but I don't know at this point if it would work to take the time to do it.
I'm also thinking on changing strategies because keep this plugin running is a lot of effort. I found "homebridge-z2m" plugin that would directly connect it to z2m but I don't know yet how s

[2020-11-12 15:52] madchicken commented on #32
I'll take a look at this later today. I am having a lot of trouble upgrading and maintaining this plugin for lack of time 😞

[2020-11-12 16:01] madchicken commented on #32
Can some of you test the branch `v1.0.6`? It is just an update of dependencies...

[2020-11-12 17:43] manuchis commented on #32
Hi @madchicken thanks for your effort. I  would like to help but I'm not enough expert here.

v1.0.6 its failinng to compile
[code]

[2020-11-12 18:31] EdwardChamberlain commented on #32
I spoke to the developer of that and it currently does not support switches or a "add to zigbee" button.

[2020-11-12 18:57] madchicken commented on #32
@EdwardChamberlain I fix the compilation issue. Testing it now on my local raspberry.

[2020-11-17 16:21] madchicken commented on #32
@EdwardChamberlain @manuchis I spend a couple of hours trying to understand if zigbee2mqtt has differences with this plugin. I did not find many different things in the code between the two. I fixed a couple in the `v1.0.6` branch, but I doubt they will make differences for your problem. I have the plugin up and running here and I don't see any issue. Did you try the new branch?

[2020-11-17 18:30] manuchis commented on #32
It is weird because I still get the network error and I believe I have to pair everything again, however I cannot delete devices from cache. After doing so, I restart the homebridge but they come up again. I understand that the zigbee DB doessn’t exist anymore, right? do I have to do anything else?

[code]

Manuel Portela, PhD
Cel Es. +34 600 851 104
Follow me: @Portela_Man
manuchis.net
El 17 nov

[2020-11-17 20:36] madchicken commented on #32
The database is stored into the homebridge config folder. To remove old devices you need to delete the db and do a factory reset of them. I would also clear the homebridge accessories cache

[2020-11-18 16:03] madchicken commented on #32
Yes, to unlink them you need to factory reset them unfortunately

[2020-11-18 16:20] manuchis commented on #32
So if they are linked, I don’t know why I get the network error.

Manuel Portela, PhD
Cel Es. +34 600 851 104
Follow me: @Portela_Man
manuchis.net
El 18 nov 2020 17:04 +0100, madchicken/homebridge-zigbee-nt <reply@reply.github.com>, escribió:

[2020-11-21 15:02] manuchis commented on #32
Si, I’ve re linked all the devices today and everything is working. Let’s see what happens during this week.

Manuel Portela, PhD
Cel Es. +34 600 851 104
Follow me: @Portela_Man
manuchis.net
El 18 nov 2020 17:19 +0100, Manuel Portela <manuchis@gmail.com>, escribió:

[2020-11-26 16:38] manuchis commented on #32
Well, after some days running 1.0.6 it seems that everything is stable. I got some warnings and "no response" but the homebridge service doesn't crash.

[2020-11-29 10:56] EdwardChamberlain commented on #32
I seem to still be getting the issue with an "unresolved promise" on 1.0.6 sadly.

[2020-12-02 16:56] mcruscher opened #46 "Easy way to add new accessory"
Hello.

I want to add new accessory (Mi Smoke Detector - Honeywell) and tried to follow the described steps in the wiki.
These stept are hard to follow. Can you outline the more detailed for a newbie?
Or perhaps add a function in the UI?

Greatings.

[2020-12-03 11:19] HA-Lemme opened #47 "Ikea Tradfri Motion Sensor"
Hey all,

I recently bought an Ikea Tradfri Motion Sensor, I paired it without any issues, but it seems to not detect anything! Is there a known issue?

regards

[2020-12-04 12:07] AlexKusnezov opened #48 "Can't Install the Plugin in Docker Image"
Hey guys,
I run hb in docker-.compose. When I try to install the plugin, it goes through the installation process but nothing shows up in the Plugins section when it's completed.
Any idea why?
btw I'm on homebridge version 1.2.4, here's ym config file:
[code]

[2020-12-06 09:40] mcruscher opened #49 "Xiaomi motion sensor - RTCGQ01LM"
Hello,

I added the Xiaomi motion sensor an it is working partly. I based it on the ikea motion sensor. The occupancy is reported and also exposed in Homebridge. But I can not find a way to set the time-out of the occupancy. Also battery report is not exposed correctly.

Anyone who can help?

"use strict";
var __awaiter = (this && this.__awaiter) || function (thisArg, _arguments, P, generator) {

[2020-12-07 10:43] madchicken commented on #48
Could you check if the zigbee database gets created under `/mnt/homebridge`?

[2020-12-07 11:21] AlexKusnezov commented on #48
@madchicken

No, it's not. Just tried it again.

[2020-12-07 16:24] tr1ng0 commented on #40
Would love to see that device added aswell!
@tutasca did you find something to integrate the button to Homebridge/Homekit?

[2020-12-08 09:09] tr1ng0 commented on #46
Hey @mcruscher not sure if u already resolved this.
Did you follow the intructions as followed? https://github.com/itsmepetrov/homebridge-zigbee/blob/master/docs/PairingDevices.md

[2020-12-08 10:01] tutasca commented on #40
No. I tried different approaches and I finally retuned it.
On 7 Dec 2020, 16:24 +0000, tr1ng0 <notifications@github.com>, wrote:

[2020-12-08 10:28] madchicken commented on #48
Could you activate DEBUG (in homebridge settings section of UI) and attach homebridge logs here?

[2020-12-08 10:30] madchicken commented on #39
This is something I am thinking about from a while...but I am essentially alone developing this plugin, so you need to wait unless someone is gonna open a PR here 😄

[2020-12-09 15:42] AlexKusnezov commented on #48
@madchicken there was nothing in the logs, just information about already installed plugins. I tried to run the installation from terminal within homebridge with ```npm install --save homebridge-zigbee-nt@latest --loglevel verbose``` but it just resulted in restart of the homebridge itself

[2020-12-09 20:15] madchicken commented on #48
It's really hard to understand what's going on without any output. Are you using a raspberry Pi?
Please, drop some detail about your system, so I can try to reproduce this issue

[2020-12-09 20:41] AlexKusnezov commented on #48
@madchicken
Architecture (Ex: x86, ARM): armv7
Docker image version: oznu/homebridge:latest
OS (Ex: Windows 10, Ubuntu Buster): Raspberry Pi OS Buster
Hardware (Ex: PC, Raspberry Pi 1/2/3/Zero): Raspberry Pi 3 B+

I try to install it lile every other plugin, but it just doesn't appear under plugins after the Installation. When I'm back on my machine I will screen capture the process and forward it

[2020-12-11 09:46] AlexKusnezov commented on #48
@madchicken here I screen-captured the installation process:
https://drive.google.com/file/d/1QgH6NbDCDu_ALVMwOLNr892PNdgTopZd/view?usp=sharing

you can see, that the plugin doesn't appear after install is complete

[2020-12-11 09:57] mrdc commented on #43
@madchicken

Unfortunately, this method doesn't work, even removing zigBee.db make no difference - devices are not deleted:
[code]
Looks like devices are loaded from `cachedAccessories`

[2020-12-11 10:00] madchicken commented on #43
Yes, that's right, you also need to remove the accessory from the homebridge cache, it can be done from the UI.
Btw, I am adding a web interface to work with devices, I should be able to release it in few days (with minimal functionalities)

[2020-12-13 12:10] madmarf opened #53 "Supporting new device Aqara Water Leak Sensor SJCGQ11LM"
Hello,

paired the sensor successfully, but the database entries are missing..
could you add them? if you need more info, tell me how I can help..
this is what the log tells me..

thanks.

[13.12.2020, 01:20:46] [ZigBee] Found ZigBee device:  Device {
  ID: 2,
  _type: 'EndDevice',
  _ieeeAddr: '0x00158d0004522754',
  _networkAddress: 9602,
  _manufacturerID: 4151,
  _endpoints: [
    Endpoint {

[2020-12-13 16:04] madchicken commented on #48
To me it seems that the process is taking a lot to complete and homebridge UI is killing the process. Can you try to run the same command from a SSH shell?

[2020-12-14 09:24] AlexKusnezov commented on #48
@madchicken thank you so much for the hint. I've just installed it successfully via homebridge terminal

[2020-12-14 09:24] #48 closed

[2020-12-16 23:56] noyer17 commented on #47
Same here :(

[2020-12-17 01:17] noyer17 commented on #36
Same here with same device. After first device pairing, everything works fine. I can assign single press/long press of both buttons. But after some time, I get message again, that button was just configured again. And from now, only one button is working, and not stable/not all the time.

Any idea why device is trying to configure again and again ?

[2020-12-17 09:01] madchicken commented on #36
I know that device goes in a sort of sleep mode after a bit, and sometime I have to click it two three times before awake it and make it work again. I am still investigating

[2020-12-22 12:20] noyer17 opened #54 "Aqara Motion Sensor and Aqara D1 Wall Switch (Xiaomi RTCGQ11LM and Xiaomi QBKG23LM)"
It seems that device can't connect properly. I can see messages coming from device, but I can't see device on accessory list.

Do I need to manually configure something?

This is sample message:

[code]

[2020-12-22 13:09] noyer17 commented on #54
Seems that this is related to [this thread](https://github.com/madchicken/homebridge-zigbee-nt/issues/53)

[2020-12-23 05:12] Chennyisafrag commented on #47
Same as well, all 3 of mine... buying an aqara motion sensor to see if it's just the IKEA ones.

[2020-12-23 11:24] noyer17 commented on #47
@Chennyisafrag I bought it also, and it seems that it is not supported yet by this plugin. Check this: [thread](https://github.com/madchicken/homebridge-zigbee-nt/issues/54).

[2020-12-26 16:57] madchicken commented on #43
Fixed by #55

[2020-12-26 16:57] #43 closed

[2020-12-26 18:38] madchicken commented on #8
Just tested on latest Hoobs version and the plugin works fine. Closing

[2020-12-26 18:38] #8 closed

[2020-12-26 19:11] madchicken commented on #49
Could you open a PR with your code so I can take a look?

[2020-12-27 08:58] madchicken commented on #33
version v1.0.8 should fix this

[2020-12-27 08:58] #33 closed

[2020-12-27 08:58] madchicken commented on #41
Version v1.0.8 should fix this

[2020-12-27 08:58] #41 closed

[2020-12-27 08:59] madchicken commented on #47
Version v1.0.8 should fix this. Feel free to reopen the issue if you still have problems

[2020-12-27 08:59] #47 closed

[2020-12-27 09:00] madchicken commented on #49
Could you try version 1.0.8? It have support for this sensor

[2020-12-27 10:34] wamfox opened #57 "Plugin Does not recognise Ikea On/Off Switch"
Just updated the plugin to version 1.0.8 and attempted to pair an [Ikea On/Off](https://www.zigbee2mqtt.io/devices/E1743.html) switch. After pairing any time activate the switch I get a "No device found from message". The switch does not show up in homekit.

[2020-12-27 11:30] zeno-at opened #58 "Aqara WXKG11LM Wireless Switch Mini support"
do you think you can add the support for the Aqara WXKG11LM Wireless Switch Mini with single/double and long press function?

[2020-12-27 18:01] madchicken commented on #57
Please, try to repair the device. It's working fine here in my house (just did the full process).
If the device is paired it should show up in the web interface exposed on port 9000 (same host of homebridge)

[2020-12-27 18:01] madchicken commented on #53
v1.0.8 added support for this device, please check it

[2020-12-27 18:01] #53 closed

[2020-12-27 18:02] #49 closed

[2020-12-27 18:03] madchicken commented on #54
I am going to close this issue and keep working on issue #58

[2020-12-27 18:03] #54 closed

[2020-12-27 20:09] EdwardChamberlain opened #59 "Router Polling Error"
Running v1.0.8 I get the error below on repeat.

[code]

[2020-12-27 20:22] mojijafari opened #60 "can't run yarn command"
hi madchiken,
thank you for your kin support,
when I run yarn command, I get this error:
Done in 0.11s.
yarn run v1.22.10
error Couldn't find a package.json file in "/home/pi"
how can I pass that?

[2020-12-28 08:49] madchicken commented on #60
you are running yarn command from the home of your user but you need to `cd` into the project folder before

[2020-12-28 08:51] madchicken commented on #59
From this error, it seems your TRADFRI control outlet is offline. Does it work?
You can disable router polling from the config now.

[2020-12-28 13:09] EdwardChamberlain commented on #59
It was a socket controlling our Christmas lights that had been unplugged! Plugging it back in has made it work again. I get irregular disconnections now on another socket but I suspect it is due to a poor connection so will try to improve the mesh coverage.

[2020-12-28 13:09] #59 closed

[2020-12-28 13:11] EdwardChamberlain opened #62 "Cannot configure device TRADFRI motion sensor"
Trying to install a Tradfi motion sensor from Ikea: https://www.ikea.com/gb/en/p/tradfri-wireless-motion-sensor-white-70429913/

Im getting the following repeated error:

[code]

The sensor continually shows "Yes" to motion detected.

[2020-12-28 13:25] madchicken commented on #62
Could you send me the output of the incoming message from the device?
Regarding the error, it should be solved with my next release

[2020-12-28 14:03] EdwardChamberlain commented on #62
Could you direct me on how to get that info, please? I don't see anything in logs other than:

[code]

[2020-12-28 14:04] EdwardChamberlain commented on #62
Oh perhaps this is the info you need:
[code]

[2020-12-28 14:24] #60 closed

[2020-12-28 14:24] #58 closed

[2020-12-28 14:25] madchicken commented on #36
This should be fixed now. The remaining problem is to avoid the button to go in sleep mode...

[2020-12-28 14:25] #36 closed

[2020-12-28 14:26] madchicken commented on #32
Please, try 1.0.9

[2020-12-28 14:26] #57 closed

[2020-12-28 14:27] madchicken commented on #62
Could you try with v1.0.9?

[2020-12-28 14:51] EdwardChamberlain commented on #62
v.1.0.9 seems to be causing my major issues and stopping the launch of homebridge:

[code]

[2020-12-28 17:11] madchicken commented on #62
Uhm, yes...something went wrong during compilation. I need to republish the package

[2020-12-28 17:27] madchicken commented on #62
v1.0.10 is out now

[2020-12-28 18:40] EdwardChamberlain commented on #62
Running v1.0.10 It seems to configure but I get the following error and the sensor remains on "yes" to detecting motion.

`0xbc33acfffeab43b4` is the serial for the motion sensor:

[code]

[2020-12-28 18:50] EdwardChamberlain commented on #62
On a slightly unrelated note there is also a Tradfri shortcut button I picked up accidentally. It appears to be identical to the on-off switch but with only a single button.

[code]

[2020-12-28 19:08] EdwardChamberlain commented on #62
Seems to be linked to a motion event that the error appears:

[code]

[2020-12-29 01:50] EdwardChamberlain commented on #62
I also seem to get this occasionally:
[code]
Is this expected behavior?

[2020-12-29 02:49] Chennyisafrag commented on #62
The motions sensors say configured when the state has changed... but for some reason, the changes are not exposed to homebridge. The same issue of the motion sensors, not untriggering occurs on the Aqara motion sensors as well as the IKEA ones. All 4 of my sensors exhibit the same issues.

[2020-12-29 08:11] zeno-at commented on #58
perfect done, works great
thx

[2020-12-29 14:31] madchicken commented on #62
In order to make the sensor work, it must be configured, since the reporting configuration only comes after a correct configuration.
I need logs coming from zigbee when the state changes, since it is the data I use to reflect the change into homebridge/homekit.

[2020-12-29 14:37] EdwardChamberlain commented on #62
Does that explain the repeated configuration?

How can I get this data?

The `endpoints` shown through the webUI are:
[code]

[2020-12-29 14:48] EdwardChamberlain commented on #62
I removed the device and readded:

[code]

[2020-12-29 15:01] EdwardChamberlain commented on #62
It is hard to tell but the leg entry:
```[12/29/2020, 15:01:18] [ZigBee] TRADFRI motion sensor configured``` seems to occur whenever motion is detected.

[2020-12-29 18:18] mojijafari opened #63 "request to explain how to pair new device"
Dear Madchiken,

Could you please explain how to pair new device that is not in the list, by detail. your explanation is very confusing.

[2020-12-29 19:50] madchicken commented on #62
Ok, it's definitely a problem of configuration. I am working on a new version for this, stay tuned. Sorry about this, but debugging without the device is a PITA! 😄

[2020-12-29 19:52] madchicken commented on #62
@EdwardChamberlain Do you see any message coming from the device in logs after configuration went well? I debug should be enable in UI to see them

[2020-12-29 20:16] EdwardChamberlain commented on #62
Thanks for the work on this!

Perhaps these logs are helpful?

[code]

`commandOnWithTimedOff` came 'randomly' - maybe a motion event.
`attributeReport` came when I pressed the "Full brightness/half brightness" button.

[2020-12-29 20:17] EdwardChamberlain commented on #62
Oh two extra logs showed up:
[code]

[2020-12-29 20:34] madchicken commented on #62
Those `commandOnWithTimedOff` should map into an `occupancy: true` as device state. It should trigger the sensor in HomeKit...

[2020-12-29 20:36] madchicken commented on #62
Would be very interesting to see messages from the controller. Can you turn on debug mode? (under settings in the homebridge UI)

[2020-12-29 20:40] Ma-Str opened #64 "HomeKit Switch for pairing doesn‘t show up in Home App"
Hello madchicken,

I am currently not able to pair any devices as the HomeKit Switch mentioned in Wiki article „Pairing Devices“ is not present.
I also find the instructions not clear at all and agree with mojijafari from #63.

Version installed via Homebridge UI: 1.0.10

Thanks,
Ma-Str

[2020-12-29 20:43] #64 closed

[2020-12-29 20:43] EdwardChamberlain commented on #62
This is running in debug mode. (-D flag configured from the Homebridge Settings page of homebridge-config-ui-x v4.36.0)

Here is a dump of the logs going back: https://hastebin.com/wuqediwisa.yaml

It looks like there are no "off" commands - perhaps it is expected that after a timed period the state will return to "off" without a prompt from the device?

[2020-12-29 21:44] EdwardChamberlain commented on #62
Some extra logs:

[code]

[2020-12-29 22:42] madchicken commented on #62
I am lost: from the logs it seems the sensor is working. It is just triggering presence (occupancy is true)

[2020-12-29 22:45] madchicken commented on #64
If you don't see the pairing button in yours home app, then you have a problem with the installation. You should send me your homebridge logs during a fresh restart

[2020-12-29 22:51] EdwardChamberlain commented on #62
It works in the sense that it triggers occupancy to `True` but I think the issue is caused that the occupancy never returns to `False` so even when there is no motion the sensor is still saying "motion detected yes" in the home kit.

I believe homekit is waiting for the sensor to send an `occupancy = False` message which it never does so the room is staying permanently occupied.

I think the homek

[2020-12-29 23:09] Chennyisafrag commented on #62
I have notifications set up when the sensors are triggered... it seems like the notification gets sent when I enter the room because the state quickly changes from detecting motion to off then back to on and staying on... more observation is required I suppose?

[2020-12-30 00:52] Chennyisafrag commented on #62
Should the plug-in tell homebridge that motion is not detected a little after 3 minutes of consecutive silence from the sensor? Please let me know if I need to further explain my idea.

[2020-12-30 07:54] Ma-Str commented on #64
Yes, I haven‘t read the instructions clearly and wasn‘t aware that I also need the CC253X Adapter vor it to work. Which I do not have.
Sorry

[2020-12-30 12:01] madchicken commented on #62
@Chennyisafrag thanks for the information, it seems this logic is implemented in the converter here https://github.com/Koenkk/zigbee-herdsman-converters/blob/master/converters/fromZigbee.js#L4081
Still investigating...

[2020-12-30 12:29] madchicken commented on #62
Ok, I found the problem...it seems it is using the `publish` function that I set to an empty function 🙄

[2020-12-30 16:40] madchicken commented on #62
@Chennyisafrag @EdwardChamberlain can you install the unstable version to see if it works? You can do it by running

    npm i homebridge-zigbee-nt@unstable -g --unsafe-perm

[2020-12-30 18:58] EdwardChamberlain commented on #62
Did pick up some warnings during the install:
[code]
But now running: `homebridge-zigbee-nt v1.1.0-unstable.1` I can confirm the motion sensor works!

[2020-12-30 19:01] Chennyisafrag commented on #62
Uhh everything was going great until I tested it the second time

[code]

[2020-12-30 19:10] EdwardChamberlain commented on #62
Unfortunately, the Shortcut button doesn't work on `homebridge-zigbee-nt v1.1.0-unstable.1`

[code]

[2020-12-30 20:02] madchicken commented on #62
Ok, check the new version, it should fix the above errors (`1.1.0-unstable.2`)

[2020-12-30 20:12] Chennyisafrag commented on #62
The IKEA motion sensors work a lot better, however, the Aqara motion sensors still cause the restart.

    at XiaomiMotionSensor.<anonymous> (/usr/local/lib/node_modules/homebridge-zigbee-nt/src/accessories/zig-bee-accessory.ts:137:39)
    at Generator.next (<anonymous>)
    at /usr/local/lib/node_modules/homebridge-zigbee-nt/dist/accessories/zig-bee-accessory.js:8:71
    at new Promise (<anonymou

[2020-12-30 20:23] EdwardChamberlain commented on #62
Messages from the shortcut button on unstable.2. First a "press" second a "long press"

[code]
It doesn't seem to trigger actions assigned in homekit though.

[2020-12-31 09:15] madchicken commented on #62
I see the problem @EdwardChamberlain I can fix it easily.
@Chennyisafrag Can you send me the logs before the crash?

[2020-12-31 11:09] madchicken commented on #62
unstable.3 is out now with fixes

[2020-12-31 20:48] Chennyisafrag commented on #62
I have been trying to get the issue to replicate; however, when I enable debug mode, one plugin creates many logs and causes them to be overwritten. Is there a way to disable logs from the plugin, or should I uninstall and reinstall it after getting the logs.

[2021-01-01 12:14] madchicken commented on #62
@Chennyisafrag `unstable.3` should also fix your problem. Please tell me if both sensors are now working as expected

[2021-01-01 14:33] madchicken commented on #32
This issue is been (finally) solved in 1.1.0 version (still in unstable state ATM). You can try it by doing

    `npm I homebridge-zigbee-nt@unstable -g`

[2021-01-01 15:17] EdwardChamberlain commented on #32
I haven't seen this issue since I have been running on 1.1.0 and in general, the whole system seems more responsive. Looks promising! Will keep an eye on it.

[2021-01-01 16:26] madchicken commented on #46
@mcruscher can you take a look [here](https://github.com/madchicken/homebridge-zigbee-nt/wiki/How-to-support-new-devices)?

[2021-01-01 20:23] mojijafari commented on #64
First of all, I should thank you again for your kind answer,
I don't have the paring button too. How ever, every zigbee device can connect with hub by reseting it, which seems system is working! But I have no control on it.

[2021-01-02 03:51] Chennyisafrag commented on #62
@madchicken Everything seems to be working well; I have not gotten to test it extensively, although. Thanks for all your hard work!

[2021-01-02 10:38] madchicken commented on #64
If you don't see the button it means the plug-in is not properly configured or your dongle is not supported by the herdsman library. Please provide some startup homebrige log, so I can help you identifying the source of the problem

[2021-01-02 13:17] zeno-at opened #65 "same name of the Aqara sensors"
every Aqara sensor got the same name in Homebridge; this is a big problem if I use node red for further activities. I see three times the same name, however node red uses only the first device and I cannot connect the other ones!
thx

[2021-01-02 16:54] #65 closed

[2021-01-02 16:56] madchicken commented on #65
Fixed in v1.1.1

[2021-01-02 17:03] madchicken commented on #62
Fixed in v1.1.0

[2021-01-02 17:03] #62 closed

[2021-01-02 17:03] madchicken commented on #32
Fixed in v1.1.0

[2021-01-02 17:03] #32 closed

[2021-01-02 18:19] madchicken commented on #63
I updated the wiki

[2021-01-02 18:19] #63 closed

[2021-01-02 18:19] #46 closed

[2021-01-03 01:18] wamfox opened #67 "Xiaomi motion sensor (Feature Request)"
Would it be possible to add this device? I believe it is the same as the Aquara motion sensor just with a slightly different name.

[1/3/2021, 11:14:31] [ZigBee] No device found from message {
  type: 'attributeReport',
  device: Device {
    ID: 4,
    _type: 'EndDevice',
    _ieeeAddr: '0x00158d0003f10d23',
    _networkAddress: 5215,
    _manufacturerID: 4151,
    _endpoints: [ [Endpoint] ],

[2021-01-03 01:27] wamfox opened #68 "Xiaomi Button Suported Device WXKG01LM"
The [Xiaomi WXKG01LM](https://www.zigbee2mqtt.io/devices/WXKG01LM.html) works in the current version of the plugin and can be added to the supported device list in the wiki. Tho in my testing the long-press function does not seem to work tho the single and double press does so not sure if that should be fixed before it is added.

[2021-01-04 21:48] paulzhdanov opened #69 "Problem with Aqara temperature/humidity"
Hi, could you please point me what I do wrong:
1. Successfully added WSDCGQ01LM (Aqara temperature/humidity)
2. It works and send status:
[04/01/2021, 23:40:45] [ZigBee] Zigbee message from 0x00*************** attributeReport
[04/01/2021, 23:40:45] [ZigBee] Decoded state from incoming message { humidity: 40.95 }
[04/01/2021, 23:40:45] [ZigBee] Updating state of device Aqara temperature, humidity a

[2021-01-06 18:06] madchicken commented on #67
Could you please send me the exact model? You can find it in the Zigbee2MQTT devices page https://www.zigbee2mqtt.io/information/supported_devices.html

[2021-01-06 20:02] EdwardChamberlain commented on #32
Running on 1.1.2 I have picked up a few unresolved promises which could be related to slow performance:

[code]

This is the following log (incase its any use):
[code]

[2021-01-07 21:52] wamfox commented on #67
Sorry should have thought to include this. It is the [RTCGQ01LM](https://www.zigbee2mqtt.io/devices/RTCGQ01LM.html)

[2021-01-09 10:07] madchicken commented on #69
The 0 temp/humi could be an update problem when I receive the report from the device. Let me investigate

[2021-01-09 10:07] madchicken commented on #68
Weird, I'll try to modify the action section for the button to see if I can fix this

[2021-01-09 10:12] wamfox commented on #68
Thankyou I appreciate your time

[2021-01-09 17:01] paulzhdanov commented on #69
Please let me know if I can help with debug or something

[2021-01-09 19:00] madchicken commented on #69
@paulzhdanov can you try unstable build?

`npm i homebridge-zigbee-nt@unstable -g`

[2021-01-09 22:03] paulzhdanov commented on #69
@madchicken sure I did, but it doesn't help to see correct data on accessory page. However I see much more info in log and at :9000 page, I will try to understand tomorrow what's going on. If there is anything specific I can send - pls let me know

[2021-01-09 23:22] tr1ng0 commented on #69
I have an Issue with the same Sensor too! Since a couple of days (could be the last update) the humidity and temp is always at 16,6 and humidty at 57% and stays like that which was wrong data.
After investigating this further it seems like pairing and disconnecting (deleting) the sensor and deleting the plugin does not do the job (ofc restart raspberry and homebridge too). After deleting the Plugi

[2021-01-10 08:37] paulzhdanov commented on #69
@madchicken your advice with unstable build actually fixed the problem! The issue was that sensor has to be deleted and re-connected to get proper data. @tr1ng0 what sensor you use? Mine is WSDCGQ01LM, may be another model still have an issue...

[2021-01-10 11:31] madchicken commented on #69
Good to know @paulzhdanov . Regarding Coordinator info: it's correct you see almost nothing in the basic info, since it doesn't expose them. I'll fix that page to show only meaningful data.

[2021-01-10 12:29] paulzhdanov commented on #69
@madchicken when you expect to release that version as stable?

PS Fantastic lib, no headache with tracing of tokens through mi gateway, real plug&play, THANX!

[2021-01-10 13:20] madchicken commented on #69
I am going to release it in the next few days. I am asking others to test the new version since is a major rewrite of the core communication system between the zigbee layer and HomeKit. Stay tuned!

[2021-01-10 14:07] tr1ng0 commented on #69
@paulzhdanov it seems like a have a newer aqara humd/temp sensor. _modelID: 'lumi.weather' . Do you have by any chance the door sensor from Aqara (lumi.sensor_magnet.aq2)? The Battery shows 0% now

Unstable version fixed temp (at least i think so) but not humidty (still showing 0 even tho I'm pretty certain after installing 2.0.0 it showed the correct value (60%) for a few seconds.
UPDATE: after a

[2021-01-10 16:50] paulzhdanov commented on #69
@tr1ng0 I think it's how all unstable versions works :) Let's wait a couple of days for next release than test again

[2021-01-10 17:47] madchicken commented on #69
@tr1ng0 can you try with version `2.0.0-unstable.2`? I worked around temperature and humidity reporting

[2021-01-11 11:56] tr1ng0 commented on #69
@paulzhdanov yes thats true haha!

@madchicken it now works perfectly for the humd/temp Sensor! Thanks! I believe the issue can be closed

[2021-01-11 12:04] tr1ng0 opened #74 "Aqara Door Sensor is wrongly open"
Hey,
So my Aqara Door Sensor (lumi.sensor_magnet.aq2) started misbehaving on unstable 1&2 (2.0.0). It randomly changes it state to open (therefore triggering linked events to that trigger) even tho the sensor is closed). I tested a little bit and I don't know why but it def. happens every time when reloading Homebridge UI on a browser (it then appears in the home app too) AND when opening home App

[2021-01-11 16:53] BananaJ0e commented on #69
![ZigbeePlugin_Error](https://user-images.githubusercontent.com/73073344/104212735-d34d7200-5435-11eb-8847-de250beba7af.png)

I think i have the same Problem. Can you help my? Why did it shows 0° and 0%?

[2021-01-11 16:55] tr1ng0 commented on #69
@BananaJ0e did u install the latest unstable version? If not run: npm i homebridge-zigbee-nt@unstable -g in your homebridge terminal, it should resolve the issue

[2021-01-11 16:57] BananaJ0e commented on #69
Yes, but its doesn't fix the Problem.

[2021-01-11 16:59] BananaJ0e commented on #69
ok sorry, now it works. You guys are great! :)

[2021-01-11 17:03] tr1ng0 commented on #69
No worries! If it happens again try to unpair and pair again. This could be the issue if you didn't try that already

[2021-01-11 17:23] BananaJ0e commented on #69
![Noresponse](https://user-images.githubusercontent.com/73073344/104216231-10b3fe80-543a-11eb-849e-4310d687412a.jpg)
Do you also have an idea for this isssue?

[2021-01-11 19:24] tr1ng0 commented on #69
Nope I have the same issue as you atm

[2021-01-11 21:12] madchicken commented on #69
Can you share logs?

[2021-01-11 21:18] BananaJ0e commented on #69
Yes can i do. Which logs do you need?
[2021-1-11 19:48:06] [TuyaWebPlatform] [Kugel Flur] - Requesting device state
[2021-1-11 19:48:06] [TuyaWebPlatform] [Kugel Flur] - Triggering debouncedDeviceStateRequest
[2021-1-11 19:48:06] [TuyaWebPlatform] [Wohnzimmer Decke ] - Requesting device state
[2021-1-11 19:48:06] [TuyaWebPlatform] [Wohnzimmer Decke ] - Creating new debounced promise
[2021-1-11 19:

[2021-01-12 08:24] madchicken commented on #74
@tr1ng0 can you provide some log from homebridge when the sensor triggers? The status of the contact should be sent from the device (is a sort of `push` information) and it is updated automatically in the ZigBeeAccessory class (update method). Since I did a refactoring there, it could be there is a problem reading the new state coming from the device

[2021-01-12 08:56] madchicken commented on #69
Please, restart homebridge and sen me logs of ZigBee plugin

[2021-01-12 09:00] BananaJ0e commented on #69
[2021-1-12 9:59:02] [ZigBee] Successfully started ZigBee service
[2021-1-12 9:59:02] [ZigBee] ZigBee platform initialized @ 0x00124b001949d1d5
[2021-1-12 9:59:02] [ZigBee] Reuse accessory from cache with uuid 6895c160-ba25-497f-b805-38071c751c56 and name zigbee:permit-join
Zigbee: disabling joining new devices.
[2021-1-12 9:59:02] [ZigBee] PermitJoin accessory successfully registered
[2021-1-12 9:

[2021-01-12 09:50] zeno-at commented on #69
How can I unpair the devices? Thx

[2021-01-12 09:54] tr1ng0 commented on #69
@zeno-at hold the pairing button for about 5 sec (a blue light should blink) and the homebridge log will show that a device will unpair

[2021-01-12 10:26] zeno-at commented on #69
Thx

[2021-01-12 10:42] tr1ng0 commented on #74
[1/12/2021, 10:40:54 AM] [ZigBee] Zigbee message from 0x00158d00047c66f0 attributeReport
[1/12/2021, 10:40:54 AM] [ZigBee] Decoded state from incoming message { contact: false }
[1/12/2021, 10:40:54 AM] [ZigBee] Updating state of device Aqara door & window contact sensor with  { contact: false }
[1/12/2021, 10:40:54 AM] [ZigBee] Updated state for device Aqara door & window contact sensor is now  {

[2021-01-12 11:01] madchicken commented on #74
Seems correct...can you correlate some wrong update with a log? The only thing I can't understand is the `state: OFF`...why is it OFF?

[2021-01-12 11:18] tr1ng0 commented on #74
I was wondering that too, I'm not sure but could the state OFF be linked to the Battery level saying 0?

I checked the logs to the behaviour of the Sensor. I can now def say when opening ANY UI (Homebridge Web or Home App) the device triggers (without logging it) the contact: false. I linked homekit automations with a hue lightstrip to see when the state is changing and it changes RIGHT at the mom

[2021-01-12 14:02] #40 closed

[2021-01-12 17:23] tr1ng0 commented on #67
@madchicken if you didn't already started with this I can have a look. It seems to me we only have to add the modelID and zigbeeID to the index.ts
You can assign me to that if you want

[2021-01-12 17:32] tr1ng0 commented on #68
@madchicken
Did you see that state.click is debrecated? This might be the issue here
Quick question: why is it that sometimes modelID like WXKG01LM is a registerAccessoryClass and sometimes the zigbeeID and sometimes both. I do not get that

You can asign me if you want I'll have a look, can't test it tho

[2021-01-12 17:38] madchicken commented on #68
Good catch: it really depends on the info the device is returning when it pairs. I had problems with my Philips Hue bulbs, that were using the zigbeeID, so I added them using it. We should probably use a better approach

[2021-01-12 17:40] madchicken commented on #68
Good catch @tr1ng0. I'll change it in next unstable release (preparing it now...)

[2021-01-12 17:50] tr1ng0 commented on #68
Thanks! When checking the ikea-onoff-switch (because its the last class which implemented state.click) i saw that the zigbeeID is never used inside your code, this could resolve in bugs especially when overseeing somthing because the same device could be called twice just by modelID and zigbeeID ... I  just don't know what would be a better appoach tho

[2021-01-12 17:52] madchicken commented on #67
Should be already supported in the unstable branch

[2021-01-12 18:06] madchicken commented on #74
When you open an HomeKit app, the app is requesting the status of all devices. In this case a call to [this method](https://github.com/madchicken/homebridge-zigbee-nt/blob/master/src/accessories/xiaomi/contact-sensor.ts#L24) should happen. The reported state is the last saved, so it should also be the last reported in logs

[2021-01-12 18:07] madchicken commented on #68
I started to write some test a while ago, they are [here](https://github.com/madchicken/homebridge-zigbee-nt/blob/master/src/__tests__/registry.test.ts). We should add more entries in the DB (based on what we see in the reality) and check that we resolve the right device/model

[2021-01-12 19:17] tr1ng0 commented on #74
Weird ... atm the sensor is def. not working like he should. He def. changes the state when requesting the method when opening an UI

[2021-01-12 19:57] tr1ng0 commented on #68
But what helps us achieve those tests? Sure before releasing something so tests are always good but you often handle theoratical zigbeeIDs and modelIDs you cant test because u dont own the device. Refactoring index.ts for better readabilty would be a start (sorting by model types and then add support for both zigbee and model ID?) to make sure nothing is missing? Just a suggestion

[2021-01-16 16:35] HalloTschuess opened #78 "Error: PanID must be between 0x0000 (0) and 0xFFFF (65535), got 65535."
Hi,

in zigbee-herdsman 0.13.55 panID gets validated and 0xFFFF is no longer allowed: https://github.com/Koenkk/zigbee-herdsman/commit/47e2f7660e813b02d1cd4441ab0016ce7721d708.
Therefore the default configuration throws this error:

![grafik](https://user-images.githubusercontent.com/20882045/104816953-96f78880-581e-11eb-9263-b56c900a2dc0.png)

Additionally setting a custom panId in the config doe

[2021-01-17 03:03] Hi-hass opened #81 "Please add Mi Smart Natural Gas Detector"
Please add Mi Smart Natural Gas Detector
What do I need to offer？

[2021-01-17 14:32] madchicken commented on #78
Thanks, I have merged your PR. I'll fix the default config with version 2.0.0 that is "on the way"

[2021-01-17 19:16] paolomarchiori opened #82 "Add BTicino Dimmer switch"
Hello,
I am using a cc2531 flashed with CC2531ZNP-Prod from CC2531_DEFAULT_20190608.zip and homebridge-zigbee-nt v1.1.1 (v1.1.2 and 2.0 won't load because of #78). I am trying to pair a Legrand "Dimmer switch with neutral" (BTicino dimmer-interruttore connesso Living light N4411C) which is supported by zigbee-herdsman-converters but somehow doesn't get recognized properly. Event tried shortening t

[2021-01-18 08:14] madchicken commented on #81
I will add it in the next release. I don't ask anything, but if you want to donate you are more than welcome. You can find my Paypal link in the readme

[2021-01-18 13:26] maccoylton opened #83 "tuya thermostat radiator value issue "'TypeError: Cannot read property 'state' of undefined""
Testing out the pull request for the tuya thermostat radiator valve and got an error as below,  any pointers on how to drug?

[18/01/2021, 12:48:11] [ZigBee] translateToSystemMode(0): off
[18/01/2021, 12:48:12] [ZigBee] Writing 'system_mode' to '0x5c0272fffec8901f' failed: 'TypeError: Cannot read property 'state' of undefined

[2021-01-18 23:11] madchicken commented on #83
Do you have a stack trace for this error?

[2021-01-18 23:17] madchicken commented on #82
This device is still not supported by the plugin. It is essentially a light with a brightness support. With version 2.0 of the plugin you will be able to configure this device by yourself through the configuration. Please wait some day until 2.0 is out

[2021-01-18 23:36] madchicken commented on #81
@Hi-hass I can't find this sensor in the supported devices list here https://www.zigbee2mqtt.io/information/supported_devices.html
Could you point me to the exact model?

[2021-01-19 08:15] madchicken commented on #81
I think I found it https://www.zigbee2mqtt.io/devices/JTQJ-BF-01LM_BW.html

[2021-01-19 10:22] tr1ng0 commented on #68
Any updates @wamfox ? Is it resolved?

[2021-01-19 11:31] madchicken commented on #78
Fixed in v2.0.0

[2021-01-19 11:31] #78 closed

[2021-01-19 11:33] madchicken commented on #67
Fixed in v2.0.0

[2021-01-19 11:33] #67 closed

[2021-01-19 13:56] #68 closed

[2021-01-19 14:04] madchicken commented on #69
Solved in v2.0.0

[2021-01-19 14:04] madchicken commented on #81
Solved in v2.0.0

[2021-01-19 14:04] #81 closed

[2021-01-19 14:09] tr1ng0 opened #84 "Aqara Temp/humid sensor is unresponsive in Home App"
Even with official 2.0.0 release it is still not working with the Home App.

Zigbee ID: "lumi.weather"
Model WSDCGQ11LM

![IMG_BB6E9C0E23C1-1](https://user-images.githubusercontent.com/39862487/105045423-2f347e00-5a68-11eb-8277-7c5d34922c54.jpeg)

EDIT: it does work with homebridge ui

[2021-01-19 14:39] madchicken commented on #84
I need help here: can you provide some log? I don't understand what is happening

[2021-01-19 14:44] madchicken commented on #82
v2.0.0 is now out. Can you try adding this to the plugin configuration?

[code]

[2021-01-19 16:37] maccoylton commented on #83
new to the environment, how would I do that?

[2021-01-19 20:38] madchicken commented on #83
In logs. Don't you see any other information when the error show up?

[2021-01-19 21:01] BananaJ0e commented on #69
installed
homebridge-zigbee-nt v2.0.0

the problem is still there

[2021-01-19 21:18] paolomarchiori commented on #82
Installed 2.0.0 and added the devices stanza to the plugin configuration but unfortunately the pairing request doesn't show up anymore (not a range issue since zigbee2mqtt acknowledges the request and accepts it).

[2021-01-20 01:13] miktin opened #85 "Xiaomi MiJia Honeywell smoke detector"
Hallo
it would be possible to use the Xiaomi MiJia Honeywell smoke detector
to involve. It is recognized but not passed on to Homebridge
Thanks

Miktin

[2021-01-20 10:48] madchicken commented on #82
Sorry, maybe the device already paired? Can you check though the Web UI? Also, make sure the permit join switch is turned on when you init the pairing process.
Attach logs of homebridge startup please

[2021-01-20 10:49] madchicken commented on #69
@BananaJ0e can you post logs of homebridge startup please?

[2021-01-20 12:19] daxterone opened #86 "Problem with Aqara Opple switch 3 bands"
Hi, I have a problem with my aqara opple switch 3 bands with (6 buttons). I see only 4 buttons and remainig 2 buttons is missing.

Can you help me please?

Here is auto config:
`
"root":[5 items
0:{11 items
"ID":int1
"profileID":int260
"deviceID":int261
"inputClusters":[3 items
0:int0
1:int3
2:int1
]
"outputClusters":[4 items
0:int3
1:int6
2:int8
3:int768
]
"deviceNetworkAddress":int24023
"deviceI

[2021-01-20 12:35] BananaJ0e commented on #69
[2021-1-20 13:32:29] [ZigBee] Initializing ZigbeeHomebridgeNTPlatform platform...
[2021-1-20 13:32:29] [ZigBee] Initializing platform: ZigBee - v2.0.0 (API v2.6)
[2021-1-20 13:32:29] Loading 4 accessories...
[2021-1-20 13:32:29] [ZigBee] Loading accessory from cache: zigbee:permit-join
[2021-1-20 13:32:29] [ZigBee] Loading accessory from cache: zigbee:touchlink
[2021-1-20 13:32:29] [ZigBee] Loadin

[2021-01-20 12:37] tr1ng0 commented on #86
Yes we are aware of that, I buried in work at the moment but will try to fix this issue by the end of the week!

[2021-01-20 14:10] madchicken commented on #69
Do you see any error in the log when opening the Home App?

[2021-01-20 14:24] madchicken commented on #85
Hey, it should be easy, just add this to your plugin config:
[code]

Please, tell me if it works, I'll permanently add it to the internal database

[2021-01-20 17:19] daxterone commented on #86
Thanks. I have found next issue in terminal. I see this there:

(node:8770) UnhandledPromiseRejectionWarning: Error: Write 0x04cf8cdf3c7dd91f/1 aqaraOpple({"mode":1}, {"timeout":10000,"disableResponse":false,"disableRecovery":false,"disableDefaultResponse":true,"direction":0,"srcEndpoint":null,"reservedBits":0,"manufacturerCode":4447,"transactionSequenceNumber":null}) failed (Data request failed w

[2021-01-20 23:13] miktin commented on #85
Hallo
Plugin config? Where i can find?
You mean config.json?
Sorry i not a programmer and i not write jsoin befor, is not easy for me. I start with homebridge last week.
Thanks

[2021-01-21 08:42] madchicken commented on #85
Yes, in config.json, find the section for this plugin. Should be something like:
[code]

Simply add the config for your device, like this:

[code]

[2021-01-21 09:39] miktin commented on #85
Hallo
Thanks, i put in, but no Sensor in Homekit.
Protokoll says:

`21/01/2021, 10:22:38] [ZigBee] Found ZigBee device:  Device {
  ID: 2,
  _type: 'EndDevice',
  _ieeeAddr: '0x00158d00053d5fdf',
  _networkAddress: 30997,
  _manufacturerID: 4151,
  _endpoints: [
    Endpoint {
      ID: 1,
      profileID: 260,
      deviceID: 1026,
      inputClusters: [Array],
      outputClusters: [Array],

[2021-01-21 11:01] madchicken commented on #85
For your smoke sensor, use `LUMI` as manufacturer and `lumi.sensor_smoke` in models.
For the plug, it seems it could not complete the interview process (it could not get model and manufacturer)...can you try to re-pair it?

[2021-01-21 11:31] miktin commented on #85
Many Thanks
The smoke detector is already working.
I re-trained the plug and adjusted it a bit. Protocol says generated, but then comes a big error message. I think something doesn't fit with the servises i write in the config.

[21/01/2021, 12:15:22] [ZigBee] Found ZigBee device:  Device {
  ID: 3,
  _type: 'Router',
  _ieeeAddr: '0x588e81fffed3a293',
  _networkAddress: 56762,
  _manufacturerID:

[2021-01-21 11:46] madchicken commented on #85
oh, I see...`plug` service is stil not supported. My bad. I'll add in the next release

[2021-01-21 11:46] madchicken commented on #85
Actually no, I was wrong. Change `plug` into `outlet` and it should work

[2021-01-21 11:50] miktin commented on #85
Thanks so mutch. it works.

One more question: Can i create a name for the devices? If i understand is somethink like "friendly_name: "?

[2021-01-21 11:59] miktin commented on #85
But i see in Protokoll some warning.

(node:19938) UnhandledPromiseRejectionWarning: Error: This callback function has already been called by someone else; it can only be called one time.
    at /usr/local/lib/node_modules/homebridge/node_modules/hap-nodejs/src/lib/util/once.ts:6:13
    at OutletServiceBuilder.<anonymous> (/usr/local/lib/node_modules/homebridge-zigbee-nt/src/builders/outlet-servic

[2021-01-21 13:07] zeno-at opened #92 "Double device names aqara sensor"
You build the device names with the serial number of the sensor (temperature), unfortunately you miss the last two characters of the serial number and therefore I got two exact same device names in my case!

[2021-01-21 15:45] madchicken commented on #85
You can change the name in Home App. Do you want to add a friendly name for better understanding logs?

[2021-01-21 15:47] madchicken commented on #85
I'll take a look at this, it happened to me one time, but never again. Is probably due to Homebridge and the way it invokes the set callback

[2021-01-21 15:48] madchicken commented on #92
AH! I didn't. It is probably a limitation in the name length :(

[2021-01-21 15:50] madchicken commented on #84
Closing as duplicate of #69

[2021-01-21 15:50] #84 closed

[2021-01-21 17:52] miktin commented on #85
Yes for better understand in Logs also for identifikation if iu learn 5 window sensors i dont now later witch one is it.

[2021-01-21 17:55] miktin commented on #85
i see some in smoke sensor. There is no Battery state.

Abou the plug, maybe is some misstake about the services?

[2021-01-22 01:36] BananaJ0e commented on #69
No, Nothing.

[2021-01-22 01:44] HalloTschuess commented on #69
Hi,

it seems like you can't query the device for the messurements. (Except im missing somthing here)

Following I'll take the temperature as an example
In temperature-sensor-service-builder getTemperature gets called, which throws this error:
`No converter available for 'temperature' (1)`
This error gets thrown by mapConvertes in zig-bee-client.ts because there are no toZigbee converters. This is

[2021-01-22 04:45] zeno-at commented on #92
Can you shorten the front part of device name to have the full range of the serial number?

[2021-01-22 10:18] madchicken commented on #92
Yes, I will ensure that the name won't exceed the maximum length. I still need to find the maximum allowed length tho 😂

[2021-01-22 10:21] madchicken commented on #69
@HalloTschuess Thanks! I knew about that, but I added the reading anyway and I don't know why 🤔
Fixing it right now...

[2021-01-22 10:24] zeno-at commented on #92
Perfect, thx

[2021-01-22 16:29] #69 closed

[2021-01-22 21:38] maccoylton commented on #83
Reset everything and fetched the pull request not getting this error:-

Initializing ZigBee controller on port /dev/ttyACM0 and channels 11, 25
(node:21209) UnhandledPromiseRejectionWarning: Error: PanID must have a value of 0x0001 (1) - 0xFFFE (65534), got 65535.
    at new Controller (/usr/lib/node_modules/homebridge-zigbee-nt/node_modules/zigbee-herdsman/src/controller/controller.ts:98:19)

[2021-01-23 03:15] HalloTschuess commented on #74
@madchicken While playing around with the temperature and humidity builder I noticed that the state is in fact not the last reported state. It it actually stays the same like it when was first initialized. In my case this is `{ state: 'OFF' }`.

Unfortunately I don't own the door sensor and cannot confirm if this is the problem here but in my case the humidity resets to 0 everytime I open the Home

[2021-01-23 15:21] maccoylton commented on #74
I’m seeing an similar issue with my Sonoff door sensor where, it’ll will show open when it actually close

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2021-01-23 16:12] madchicken commented on #74
@HalloTschuess I don't think the line you pointed out is causing this issue, although is clear that _there is_ an issue. At that point I simply create a new object with all values from the current state and the incoming one. If the `state` property is not present in the new state, the resulting object will still have the old value (`OFF`).
One question: after updating, the state, I print out the n

[2021-01-23 16:43] HalloTschuess commented on #74
@madchicken

Yes:
[code]

[2021-01-23 17:08] madchicken commented on #74
Ok, so the state is not reported during update, that's why it stays set to `OFF`...

[2021-01-23 17:18] HalloTschuess commented on #74
I still think it has somthing to do with the reference thing i mentioned

I wrote a small program recreation the issue:
[code]

The output looks like this:
[code]

[2021-01-23 18:12] madchicken commented on #74
Oh! Now I see the problem: I am passing the state to the builder, but I should actually pass the accessory OR not recreate the state but update its properties

[2021-01-23 18:15] madchicken commented on #74
Quick fix: in internalUpdate, just do this:

    this.state = Object.assign(this.state, { ...state } );

instead of using the spread operator and recreate the state object (that is actually changing the reference that the builder still has)

[2021-01-23 18:23] madchicken commented on #74
Ok, it's fixed on master. Funny enough, I introduced this bug with one of my last commits on the 2.0.0 (I was using `assign` before)

[2021-01-23 18:23] #74 closed

[2021-01-23 18:28] HalloTschuess commented on #74
You are welcome, glad I could help.

[2021-01-23 18:30] tr1ng0 commented on #74
@HalloTschuess thanks a lot mate!

[2021-01-23 22:02] tr1ng0 commented on #86
@daxterone I just added the missing 2 buttons to support the 6 button version (not merged yet!)

As soon as this is merged let me know if this works (cannot test myself due to not owning the device)
If this log appears even after unpairing and pairing again (after the update) pls let me/us know!

[2021-01-23 22:49] #92 closed

[2021-01-24 08:52] madchicken commented on #29
It seems it is registered with the wrong implementation class. I'll take a look

[2021-01-24 13:53] tr1ng0 commented on #86
@madchicken @HalloTschuess
Quick Question guys: The Fix you guys did on the state reporting could this be ralated to my aqara opple switch reporting wrong states as well? Because as soon as I pair the switch with homebridge and assign f.e. the leave scene (which switches ofc. all the lights off and the smart speakers off) randomly triggers then? I tried troubleshooting that for the last couple of

[2021-01-24 16:01] tr1ng0 commented on #86
UPDATE: so apperently there is a log about a button beeing pressed (I sat at my desk so the button is not reachable for me and I witnessed the lights and musik going off)

[1/24/2021, 3:58:57 PM] [ZigBee] Zigbee message from 0x04cf8cdf3c7940b9 attributeReport
[1/24/2021, 3:58:57 PM] [ZigBee] Decoded state from incoming message { battery: 100, voltage: 3084 }
[1/24/2021, 3:58:57 PM] [ZigBee] Updati

[2021-01-24 16:51] HalloTschuess commented on #86
@tr1ng0 I think when your switch sends an battery update, the the accessory state still holds the state of a previous update.

`internalUpdate()` of `ZigBeeAccessory` calls [`update()`](https://github.com/madchicken/homebridge-zigbee-nt/blob/5dceaa2fea5ef2c2db35d51d1c9bd4ff629d7313/src/accessories/xiaomi/aqara-opple-switch.ts#L62) every time it receives the new battery level and thus repeating the

[2021-01-24 18:08] daxterone commented on #86
yes, I have the same problem without any record in log light turn on. This did not happen before installing this plugin.

I see the aqara opple 6b in Paired devices but I do not see in devices. Here is log:

[24. 1. 2021 19:07:54] [ZigBee] No device found from message {
  type: 'commandOff',
  device: Device {
    ID: 3,
    _type: 'EndDevice',
    _ieeeAddr: '0x04cf8cdf3c7dd91f',
    _networkAddr

[2021-01-24 18:10] tr1ng0 commented on #86
@daxterone pls wait a little longer! We are working on a fix at the moment. Madchicken is preparing an unstable version right now for us to install. I'll let you know when its done (hopefully today)

[2021-01-24 18:11] daxterone commented on #86
understood I will help

[2021-01-25 10:08] madchicken commented on #85
Sorry @miktin I forgot to reply. The plug config is "almost" right. The correct one should be
[code]

But your config is actually still good, since you added flags that are just ignored.
Regarding errors, please open a new issue with all the logs and maybe a description of what you did when the log appeared.

[2021-01-25 11:09] miktin commented on #85
Thanks for the information. First have it deinstaled again. The sensors are not shown to me in Homekit as it would be desirable, test a few other ways to get the devices to Homekit. Maybe I'll come back to that later. As I said, I am new to the subject and am currently learning. I also have to get to know the different plugins and options regarding Zigbee first. but you've already helped me a lot

[2021-01-25 14:00] madchicken commented on #85
Could you please elaborate a bit more on this?

[2021-01-26 10:28] andreinanu opened #99 "Adding LIDL devices"
Hello,

Since I've seen that LIDL devices are supported [here](https://www.zigbee2mqtt.io/information/supported_devices.html), I've tried following the guide to add the LIDL Motion Sensor HG06337 (seen by HB as TY0202).
The pairing went ok by adding the following info in the config file:

                {
                    "manufacturer": "Lidl",
                    "models": [

[2021-01-26 14:26] tr1ng0 commented on #99
Hey @andreinanu
Is it that [device](https://www.zigbee2mqtt.io/devices/HG06335.html)?

[2021-01-26 21:41] tr1ng0 commented on #99
@andreinanu sorry to hear ...
maybe @madchicken can help out here?

[2021-01-27 08:30] madchicken commented on #99
The model is correct, what is not is the manufacturer: from the device info I see in your first post it should be `_TZ1800_fcdjzz3s`

[2021-01-27 09:56] tr1ng0 commented on #86
@daxterone it is fixed now!
Use this command in your homebridge ui Terminal:
sudo npm i homebridge-zigbee-nt@unstable -g --unsafe-perm

[2021-01-27 10:36] #86 closed

[2021-01-27 11:37] andreinanu commented on #99
@madchicken it was foolish of me to think that the precise name was not mandatory there, you are absolutely right. Added the name and it works flawlessly.

Many thanks to both of you for the guidance!
I'll go ahead and close the issue and buy some more LIDL devices :)

[2021-01-27 11:37] #99 closed

[2021-01-27 11:38] madchicken commented on #99
Thanks @andreinanu I will permanently add this device in the internal database

[2021-01-27 11:40] madchicken commented on #82
Will be available in v2.0.2

[2021-01-27 11:40] #82 closed

[2021-01-29 15:43] #85 closed

[2021-01-30 21:40] daxterone opened #105 "Error code"
I see in the log the following error which appears several times an hour.

`[1/30/2021, 2:56:40 PM] [Sonos] error: unhandled rejection: Error: Write 0x04cf8cdf3c7dd91f/1 aqaraOpple({"mode":1}, {"timeout":10000,"disableResponse":false,"disableRecovery":false,"disableDefaultResponse":true,"direction":0,"srcEndpoint":null,"reservedBits":0,"manufacturerCode":4447,"transactionSequenceNumber":null}) fai

[2021-01-31 08:14] piokacz opened #108 "Tuya Thermostat - TypeError: Cannot read property 'description' of null"
30 January 2021 i clone the repo
`sudo git clone https://github.com/madchicken/homebridge-zigbee-nt.git`
in src/index.ts I have add new line `registerAccessoryClass('_TZE200_2dpplnsn', ['TS0601'], TuyaThermostatControl);`
Then I run yarn commands
[code]
After that I lost the web UI and my thermostat doesn't work - below homebridge logs.

[code]

[2021-01-31 20:21] TrapMusicJunkie opened #109 "Request to add Zigbee Wall Switch recognized as TUYATEC TS0011"
Hi. I have recently bough a Zigbee Wall Switch which is recognized as TUYATEC TS0011 using homebridge-zigbee-nt plugin. It seems like it is paired correctly but it is not mapped into accessories in Homebridge.

I get the following info in the log file:

[31/01/2021, 21:15:41] [ZigBee] No device found from message {
  type: 'attributeReport',
  device: Device {
    ID: 2,
    _type: 'EndDevice',

[2021-01-31 22:36] TrapMusicJunkie commented on #109
OK. I managed to add the device it was as simple as adding additional code:

"devices": [
                {
                    "manufacturer": "TUYATEC-p9HCE8pZ",
                    "models": [
                        "TS0011"
                    ],
                    "services": [
                        {
                            "type": "bulb",
                            "meta": {

[2021-02-01 08:16] madchicken commented on #108
Please, try to clean homebridge cache (it's enough to remove zigbee plugin accessories, not all your accessories)

[2021-02-01 10:59] daxterone commented on #105
log is attached
[homebridge.log](https://github.com/madchicken/homebridge-zigbee-nt/files/5903526/homebridge.log)

[2021-02-01 15:56] piokacz commented on #108
Many thanks for your answer, but after clearing cache for all zigbee accessories nothing change. My thermostat still is not supported in homekit and I still don't have the web UI under my address http://192.168.1.200:9000/ . After clearing the cach and restarting the homebridge plugin found all the devices paired, but it didn't help. Bellow the logs from homebridge.
[code]

[2021-02-01 21:53] mgcrea opened #110 "Unrecognized device: 0x001788010837002d Signify Netherlands B.V. LCA001"
Not sure what is wrong with my setup but somehow it does not recognise a `LCA001` device that is properly configured in the `registerSupportedDevices` function.

Any idea what could be missing? I'm building/running from the master branch (`homebridge -D -U ./.homebridge -P .`)

[code]

My config:

[code]

---

Edit: found it, looks like it does not like the `Signify Netherlands B.V.` manufacturer.

[2021-02-02 12:38] Kristian8606 commented on #39
I would help! I have working test code in my TypeScript repository

[2021-02-02 12:56] madchicken commented on #39
@Kristian8606 can you open a PR? It would be very appreciated

[2021-02-02 13:01] Kristian8606 commented on #39
I did not understand your question! Sorry for my bad English.

[2021-02-02 13:03] madchicken commented on #39
PR = Pull Request
Please read this https://docs.github.com/en/enterprise/2.16/user/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2021-02-02 13:03] madchicken commented on #39
Even better, start from here: https://docs.github.com/en/enterprise/2.16/user/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2021-02-02 13:06] Kristian8606 commented on #39
Yes, I understand your question now.

[2021-02-02 13:11] Kristian8606 commented on #39
Here is a link to my test code

https://github.com/Kristian8606/Test/blob/3c0a9c64ac37304f1d2051e5840cedca468166f9/src/platformAccessory.ts#L97-L111

[2021-02-02 13:43] #110 closed

[2021-02-03 08:13] madchicken commented on #109
Thanks, I'll add this config to the internal database

[2021-02-03 08:13] #109 closed

[2021-02-03 11:31] madchicken commented on #108
@piokacz are you sure you are using your compiled version of the plugin with homebridge? Node modules (hence Homebridge plugins) are stored under `/usr/local/lib/node_modules`, so if you want to use your own plugin version, you need to create a symlink in that folder to `~/homebridge-zigbee-nt`.
Note: you don't need to use sudo when working in your home folder.

[2021-02-03 11:56] piokacz commented on #108
Yes, I'm pretty sure :-)
I'm using raspberrypi - I'm downloading the source to my home folder `/home/pi/homebridge-zigbee-nt/`, then i run yarn commands and then i copy all using `sudo cp -r homebridge-zigbee-nt /usr/lib/node_modules/` . In homebridge interface I see version 2.0.3 of plugin. Do you see any mistakes in my procedure?

[2021-02-03 16:27] madchicken commented on #108
`/usr/lib/node_modules/`? Are you sure? It should be `/usr/local/lib/node_modules`

[2021-02-03 16:32] piokacz commented on #108
Look at my screen:

<img width="1440" alt="Zrzut ekranu 2021-02-3 o 17 31 56" src="https://user-images.githubusercontent.com/75645851/106777924-ba576b80-6645-11eb-921c-45b548f9dff4.png">

[2021-02-03 17:11] Kristian8606 opened #112 "The bulb status update is too long"
Hello! I tried the plug-in and noticed that the lights in HomeKit were updated for too long, after which the application marked them as unavailable.
I have a Conbee 2 adapter,
20 lights IKEA gu10.
In practice, the HomeKit application is unusable because
the application refresh always ends with no response.
Is it possible for this feature to poll the bulb and wait for its response?

       .on (Cha

[2021-02-03 17:16] madchicken commented on #112
Interesting problem. I just have few bulbs so I didn't notice this. We could probably change the logic and return the last state instead of always reading it.

[2021-02-03 17:39] Kristian8606 commented on #112
According to the Homebridge GET API, the status characteristics are best updated from the local cache without delay.
https://developers.homebridge.io/#/api/characteristics
https://developers.homebridge.io/#/api/service#serviceupdatecharacteristic
It would be good to create a local cache to be updated by Zigbee messages using a timer.
And when we open the application, the GET feature will be update

[2021-02-03 19:52] prugala opened #113 "Blitzwolf Smart Socket BW-SHP13 Support"
Hello
I've tried to add Blitzwolf Smart Socket BW-SHP13 and socket was found but its detected as undefined device.
![device](https://i.imgur.com/QS5Br6r.png)

When I inspect response with device info I see that there is information about status: on/off
![status](https://i.imgur.com/4wGzURQ.png)

There is option to add switch accessory to change it or I have to add support for this device in plugin

[2021-02-03 20:24] madchicken commented on #112
Yes, but the first time you startup homebridge the plugin would ask to all your 20 bulbs the status...

[2021-02-04 06:24] Kristian8606 commented on #112
Because there will be a cache-variable, it can be set to (state-off) on the first start.  The GET feature will update the HomeKit to the off state.  As soon as the zigbee adapter is ready and starts receiving messages it will update HomeKit safely at any time via service.updateCharacteristic (Characteristic.Brightness, 60);  also the cache variable.

[2021-02-04 09:57] madchicken commented on #108
@piokacz could you try to see if version 2.0.5 supports your device?

[2021-02-04 10:46] piokacz commented on #108
@madchicken where can I find this version? I don't see them here: [https://github.com/madchicken/homebridge-zigbee-nt/releases](url)

[2021-02-04 10:48] madchicken commented on #108
I released it on NPM https://www.npmjs.com/package/homebridge-zigbee-nt/v/2.0.5

[2021-02-04 13:58] maxgrafik opened #115 "Xiaomi Mijia door sensor always open after homebridge restart"
Hi,
so my Xiaomi Mijia door sensor (lumi.sensor_magnet) shows "open" after each homebridge restart. I always need to open and close the door to get the correct state again (although this opening and closing is logged correctly). Other than that the plugin works perfectly fine for me.
Is this a limitation of this particular sensor, or am I doing anything wrong?

I'm running homebridge on a Mac mini

[2021-02-04 17:11] piokacz commented on #108
@madchicken this is my report.

1. I started with HomeBridge update procedure:
![image](https://user-images.githubusercontent.com/75645851/106927463-78e0c200-6712-11eb-88ff-b21484b77b3a.png)

2. After update process (first time without errors) with some warnings i got this:
![image](https://user-images.githubusercontent.com/75645851/106927782-ca894c80-6712-11eb-8df7-edfef0338d29.png)

3. Bellow yo

[2021-02-04 17:32] madchicken commented on #108
This is the diff from 2.0.3 to 2.0.5: https://github.com/madchicken/homebridge-zigbee-nt/compare/v2.0.3...v2.0.5
As you can see there is nothing that could cause your devices to not work or the web interface to be unresponsive. There is probably something wrong in your environment.
Please attach the complete homebridge log after a restart

[2021-02-04 17:38] madchicken commented on #108
Also, what happens if you go back to v2.0.3?

[2021-02-04 17:47] piokacz commented on #108
I just remove the plugin, I deleted the plugin folder in node_modules, and restart the HomeBridge - bellow the logs:

hope not to much

[code]

[2021-02-04 18:24] piokacz commented on #108
Bellow the log after installation in my home folder - maybe I'm to stupid for this :-)

[code]

[2021-02-05 07:59] piokacz commented on #108
@madchicken - I did also my own compilation

[code]

[2021-02-05 17:09] tr1ng0 commented on #105
@daxterone is the device working correctly? Mine are working well so far

[2021-02-05 17:11] tr1ng0 commented on #115
@maxgrafik you are correct, this is a bug at the moment. Is this a big issue for you? We will try to fix this in future but I'm buried in work atm so it might take some time

[2021-02-05 17:13] tr1ng0 commented on #113
Hey @prugala, did you try adding it via configuration?
https://github.com/madchicken/homebridge-zigbee-nt/wiki/Add-new-devices-in-configuration

[2021-02-05 17:35] madchicken commented on #108
so, it seems cached accessory with name `0x5c0272fffedb0f19` is creating issues during startup. Can you go in the homebrdige settings page (should be `http://192.168.1.200:8080/settings` in your case) and delete the cached accessory with that ID (click on `Remove Single Cached Accessory`). Let's see if it works...
On the other side, it seems that all your devices are correctly recognized, and this

[2021-02-05 17:48] piokacz commented on #108
@madchicken the device ...f19 is my thermostat. I clean cache - below the logs from Homebridge:

[code]

[2021-02-05 18:05] piokacz commented on #108
@madchicken I think it's time to give up with the issue about the thermostat, but now i need help to restore my WebUi. Could You give me some advice what I supposed to do to find the bug? using netstat I dont see anything under port 9000, I don't see errors in Homebridge logs. Any ideas?

[2021-02-05 18:24] madchicken commented on #108
@piokacz I think I found the problem with the thermostat. Stay tuned.
Regarding the WEB UI: check if you did not accidentally disabled it in the plugin config. If not, I'll add some log in the next release so we can understand

[2021-02-05 19:05] maxgrafik commented on #115
No problem. I'll wait. Just take your time.

[2021-02-05 19:35] prugala commented on #113
Hi @tr1ng0 thanks for link to documentation. I've added custom device but I don't know that is wrong, for my device should be created accesory? I still have only: "Zigbee Permit Join" and "Zigbee Touchlink".

My custom device configuration:
[code]

In log I have:
[code]

In web UI I see my device but still dont have created accessory for my device.
![webui](https://i.imgur.com/SGflB7D.png)

[2021-02-05 20:26] piokacz commented on #108
Hi @madchicken coffee on me if You help me with this thermostat :-)

Below my config - if I understood the help correctly it should be up:

[code]

[2021-02-05 20:28] prugala commented on #113
One more question, I've added meta:
[code]

but don't see in Apple Home and Eve app any information about consumption.

[2021-02-05 21:00] madchicken commented on #108
Yes, it should be up. I also log a row when the server start up, it's `WEB UI Listening on` and then the ip and port address.
For the thermostat, you actually found a problem in the herdsman lib: the function I use to get information about your device is failing and is returning null...I need to figure out how to fix this

[2021-02-05 21:27] madchicken commented on #108
@piokacz Your device is still not mapped by the herdsman library! Can you find it [here](https://www.zigbee2mqtt.io/information/supported_devices.html)? We should try to understand if it is the same of some other thermostat...sometimes same devices are just labelled differently depending on the producer

[2021-02-06 15:53] nikoskontothanasis opened #116 "Philips Hue Smart Motion Sensor (Philips SML001) - Unrecognized device"
Hello I am using this plugin in a rip 4, with CC2531 USB dongle.
Today I bought a Philips Hue smart motion sensor, because I see that it is supported device.  (https://www.zigbee2mqtt.io/devices/9290012607.html)
I follow the instructions for pairing the device and seemed to be paired, at least on web ui 9000/devices I can see the device, but I can't find it in the Accessories tab on Homebridge.
Ca

[2021-02-07 09:39] piokacz commented on #108
@madchicken my thermostat is very similar to HT-10 | ETOP Radiator valve (battery_low, lock, climate) - see the picture below
![IMG_3524](https://user-images.githubusercontent.com/75645851/107142649-b02cba00-6930-11eb-9f8c-1ac385edfc4d.jpeg)

[2021-02-07 10:12] piokacz commented on #108
@madchicken I can not find `WEB UI Listening on` in my homebridge log.

[2021-02-07 10:40] JakubTHOC opened #118 "Problem after clean install - cannot open port"
Hi
At the beginning I would like to say that the same configuration/device was working before.

I've maid clean install of homebridge-zigbee-nt 2.0.5 version.
I have CC2531 USB connected
Now when I reboot my raspberry I get this message in Homebridge logs:

`[ZigBee] Error: Error while opening serialport 'Error: Error Resource temporarily unavailable Cannot lock port'
    at Znp.<anonymous> (/usr/

[2021-02-07 12:19] madchicken commented on #105
I see the configuration procedure for this type of device is setting the mode to 1:

https://github.com/Koenkk/zigbee-herdsman-converters/blob/master/devices.js#L1061

[2021-02-07 13:25] jssoft22 opened #119 "Unsupported device model id: TS0601, manufacturer _TZE200_dfxkcots"
Hello Could someone advise the ZigBee device is a new dimmer tuay, but you can use it over my CC2531.
[code]

device code
[code]
homebridge code

[2021-02-08 08:09] JakubTHOC commented on #119
I also see strange, that my Thermostats are recognized as:
`Manufacturer: _TZE200_c88teujp
Manufacturer ID: 4098`
In my opinion we should not connect devices via Manufacturer, but Manufacturer ID
Can we address this issue ?

[2021-02-08 10:50] JakubTHOC commented on #119
Ok, I've just discovered that this TRV is a Saswell SEA802 sold also as a TuYa ...
So is it possible that this valve work with Zigbee NT?
https://www.zigbee2mqtt.io/devices/SEA801-Zigbee_SEA802-Zigbee.html

[2021-02-09 13:19] Chrigigi opened #121 "Error when Tradfri GU10 is offline"
Hey
I have a Raspberry Pi B+ with Homebridge and this Plugin installed.
There are 11 Tradfri GU10 ([LED1837R5](https://www.zigbee2mqtt.io/devices/LED1837R5.html)) connected. When a lamp is switched off (Offline, no power), then I get the following errors. These errors block the plugin completely.  The Home app no longer works for any Zigbee device.

System Information:
Raspbian GNU/Linux Buster (1

[2021-02-09 14:28] madchicken commented on #121
This will be addressed in the next release. Thanks for reporting

[2021-02-09 14:29] madchicken commented on #119
This will be addressed in the next release, since the device discovery will be automatic. Stay tuned

[2021-02-09 14:32] madchicken commented on #115
Just a question: do you see any state reported when restarting homebridge? It could be a bug in the herdsman lib

[2021-02-09 14:45] madchicken commented on #108
@piokacz the missing WEB UI is a bug. Will be fixed in the next release

[2021-02-09 17:07] maxgrafik commented on #115
This is what I get when restarting homebridge in Debug Mode:

[code]

If I then open/close the door, the state is reported:

[code]

Does this help?

[2021-02-09 17:47] Chrigigi commented on #121
Thank you for your fast answer.
Now I have this error... is this a hardware problem or I have to open a new issue? Restart was not successful

`[09/02/2021, 18:42:33] [ZigBee] Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)
    at ZStackAdapter.<anonymous> (/usr/local/lib/node_modules/homebridge-zigbee-nt/node_modules/zigbee-herdsman/src/adapter/z-stack/adapter/zSta

[2021-02-09 17:50] danielavron opened #122 "Can't pair devices"
Hello,
I am using a cc2531 flashed according to this: https://www.zigbee2mqtt.io/information/flashing_the_cc2531.html?fbclid=IwAR2OsLS1d2C43VVAfe63iHSuUxz2DQ4wDVqyF44zBVV3TMhkLWFcCNAfa1g. I am trying to pair  this device: https://www.zigbee2mqtt.io/devices/QS-Zigbee-S04-2C-LN.html?fbclid=IwAR1sB7WafsKNdbc0ZYVBOZpxLHah5n53_Iw7uiNkLvBvfiJuVQlDYSxIZ_g.

I'm getting this message in the log:

Found Zig

[2021-02-09 18:56] maxgrafik commented on #122
I think there is no service type 'router' (as in your config). Maybe you should try 'bulb' (or 'outlet').

[2021-02-09 20:19] danielavron commented on #122
When I put bulb it kind of works. First - it only shows one gang and not two. Second - it doesn’t receive feedback from the switch - so it doesn’t know the light turned off.

[2021-02-09 20:55] maxgrafik commented on #122
There already seems to be an accessory for a Lonsonho Double switch, albeit with a different manufacturer and model. I guess for your device this is something @madchicken has to add.

[2021-02-09 20:56] danielavron commented on #122
Hopefully soon.

[2021-02-09 21:19] paulzhdanov opened #123 "Xiaomi A6121 Smart Lock (lumi.lock.v1) support"
Hello @madchicken , do you have a plans for adding vima lock? It seams the lock has quite simple interface (https://github.com/Koenkk/zigbee2mqtt/issues/3521#issuecomment-691364095) and no servo inside, just solenoid (on/off) and already supported by iobroker firmware for instance (https://github.com/ioBroker/ioBroker.zigbee). I'd be glad to be a alpha-tester, my knowledge is not enough to create

[2021-02-09 23:10] galoiring opened #124 "unable to see switch on HomeKit"
I use this Zigbee switch and I found it on the UI as you can see , but dont see it at HomeKit

<img width="1280" alt="צילום מסך 2021-02-10 ב-1 08 14" src="https://user-images.githubusercontent.com/74841666/107440647-98c21c80-6b3c-11eb-9dc4-fe7c7b1e075c.png">
<img width="1280" alt="צילום מסך 2021-02-10 ב-1 08 08" src="https://user-images.githubusercontent.com/74841666/107440650-9b247680-6b3c-11eb-9

[2021-02-10 10:05] madchicken commented on #123
Please, wait for v2.1.0 🙂

[2021-02-10 10:08] madchicken commented on #124
This switch is still not supported by this plugin. Is it supported by the herdsman lib? I don't see it in this list:

https://www.zigbee2mqtt.io/information/supported_devices.html#somgoms

[2021-02-10 10:12] madchicken commented on #121
This is an error of communication with the dongle. You should try to restart your raspberry

[2021-02-10 10:14] madchicken commented on #115
So, `contact` is false by default, that means open in your case. It stays false until something is reported from the device. Let me see if the state can be read at mounting time...

[2021-02-10 10:39] paulzhdanov commented on #123
Wow, fffffantastic :) don't hesitate to involve me as a tester, I'll be more than glad to take a part

[2021-02-10 11:51] galoiring commented on #124
this is the somgoms switch , and it does recognize and connect as you can see in the first picture

[2021-02-11 09:41] madchicken commented on #115
I solved this problem in my latest build by setting the default value to `true` (contact closed). I'll release it in the upcoming v2.1.0

[2021-02-11 15:22] madchicken opened #125 "Auto discovery of devices from zigbee object definition"
The plugin should use information provided by herdsman-converters library and automatically map HomeKit accessories

[2021-02-11 16:15] madchicken commented on #123
@paulzhdanov can you try to install 2.1.0 unstable? Just use this command:
`npm i homebridge-zigbee-nt@unstable -g --unsafe-perm`

[2021-02-11 16:15] madchicken commented on #115
@maxgrafik can you try 2.1.0 unstable. Install it using this command:
`npm i homebridge-zigbee-nt@unstable -g --unsafe-perm`

[2021-02-11 16:17] madchicken commented on #112
@Kristian8606 Could you please try unstable version and tell me how it performs?

'npm i homebridge-zigbee-nt@unstable -g --unsafe-perm`

[2021-02-11 16:18] madchicken commented on #83
Closing for lack of information about the problem

[2021-02-11 16:18] #83 closed

[2021-02-11 16:19] madchicken commented on #121
@Chrigigi Could you try the unstable version and tell me how it goes? Install it using this command:

`npm i homebridge-zigbee-nt@unstable -g --unsafe-perm`

[2021-02-11 18:39] Chrigigi commented on #121
@madchicken i have try to install the plugin

1. uninstalled plugin
2. clean devices Cache
3. install plugin with your command

The plugin did not installed
See install log below:

`pi@homebridge:/var/lib/homebridge $ npm i homebridge-zigbee-nt@unstable -g --unsafe-perm
npm WARN deprecated http2@3.3.7: Use the built-in module in node 9.0.0 or newer, instead
npm WARN deprecated core-js@1.2.7: core-

[2021-02-11 21:02] Kristian8606 commented on #112
I have a strange problem with this version.
I did a new installation, but no lights were exposed on the HomeKit.

[2021-02-11 21:06] Kristian8606 commented on #112
[code]

[2021-02-12 07:58] Chrigigi commented on #121
I have do a clean install from my Homebridge and install your version with the command:
`sudo npm i homebridge-zigbee-nt@unstable -g --unsafe-perm`

I have try to add new devices, but i don't see the device in HomeKit or in the Homebridge UI:
[code]

After restart the Homebridge

[code]

then I have uninstall the v2.1 and install 2.0.5.
With out any action, the devices where I have add under versi

[2021-02-12 16:18] madchicken commented on #112
uhm this is weird. Can you try again and adding `"preferAutoDiscover": true` to your config?

[2021-02-12 16:44] madchicken commented on #121
Can you try agin with `2.1.0-unstable.3`? Thanks!

[2021-02-12 16:46] madchicken commented on #116
Hi, could you see if the version `2.1.0-unstable.3` works for you? I am testing it before releasing.
You can install it by doing:
[code]

[2021-02-12 17:56] Chrigigi commented on #121
comment like this:
`sudo npm i homebridge-zigbee-nt@2.1.0-unstable.3 -g --unsafe-perm`

[2021-02-12 18:38] Chrigigi commented on #121
pairing from new devices works now, but the error still exists.

[code]

[2021-02-12 19:04] madchicken commented on #121
That one is coming from the ikea button I think, during the configuration phase. The button is probably in sleep mode, so it does not respond

[2021-02-12 19:21] Chrigigi commented on #121
I have no ikea button connected.
![7DE327F4-8D57-4A77-B8D7-7A3E72DF39C2](https://user-images.githubusercontent.com/78798738/107812395-e70b3180-6d6f-11eb-95fd-ccd65f22e3e4.jpeg)

[2021-02-12 19:37] madchicken commented on #121
Sorry, I got confused by another issue. Unfortunately the log is not very helpful here...I'll add more info in the next release so we can understand what is going on

[2021-02-12 19:55] Chrigigi commented on #121
Do you need the full log?

speciality is that, some lamp looking like this
![IMG_0869](https://user-images.githubusercontent.com/78798738/107816109-8f22f980-6d74-11eb-8d5e-8f68f1df22a9.jpg)
and some like this.
![IMG_0868](https://user-images.githubusercontent.com/78798738/107816125-9944f800-6d74-11eb-9b49-4255d822497b.jpg)
But they are the same type of lamps

[2021-02-15 08:15] maxgrafik commented on #115
@madchicken I tried today with v2.1.0-unstable.3. The sensor is now closed when restarting homebridge. Which is probably fine for me now. However, if the door is open while restarting hb, the sensor is now wrongly closed. It looks like the sensor reports its state only when the state actually changes.

[2021-02-15 13:21] madchicken commented on #112
@Kristian8606 this issue should be fixed in last unstable release

[2021-02-16 18:20] madchicken commented on #118
Sorry to be late on this. This is something that the plugin does not control, since all the job of connecting to the dongle is done by the herdsman library (that is the same library zigbee2mqtt uses). When this happens, it usually means two things: there is another process using the dongle or there is a stuck process keeping the port open. When it happened to me, restarting the raspberry worked

[2021-02-17 08:46] madchicken commented on #115
@maxgrafik Yes, this is what I was saying in my previous comment. I don't know how to solve this problem ATM. I need to dig more in the herdsman lib and the way it integrates this device

[2021-02-17 13:06] maxgrafik commented on #115
Do other sensors report their state when mounted? I guess then that's why Xiaomi sensors are cheap ;)

[2021-02-23 17:41] EdwardChamberlain opened #128 "Slow performance and unresolved promises"
Running 1.3.1 and plugin 2.0.5.

I see slow performance of the accessories and repeated messages in the console:
[code]

[2021-02-26 17:04] ratsoid opened #129 "Xiaomi Aqara Switch WXKG02LM support"
Would it be possible to add support for the Aqara Switch WXKG02LM (2 buttons) with single, double and hold function?
lumi.remote.b286acn01

[code]

[2021-02-26 23:43] nikoskontothanasis commented on #128
Hello,
same issue here:
homebridge-zigbee-nt v2.0.5
Homebridge v1.3.1
[2/27/2021, 1:27:56 AM] [homebridge-zigbee-nt] This plugin generated a warning from the characteristic 'Motion Detected': characteristic value expected boolean and received undefined. See https://git.io/JtMGR for more info.

[2021-02-27 19:59] paulzhdanov commented on #123
@madchicken I missed the notification, pls excuse for delay. After 2.1.0 install I failed to connect the lock:

[code]
I made 6 attempts with the same result. Any ideas what else could be done?

[2021-02-28 19:56] madchicken commented on #123
Are you sure this device supports touchline? I don't see it in the description. It probably needs some specific process for pairing...

[2021-02-28 19:56] #108 closed

[2021-02-28 19:56] #112 closed

[2021-02-28 19:56] #113 closed

[2021-02-28 19:56] #115 closed

[2021-02-28 19:56] #116 closed

[2021-02-28 19:56] #121 closed

[2021-02-28 19:56] #125 closed

[2021-02-28 19:56] #128 closed

[2021-02-28 21:07] paulzhdanov commented on #123
Well, at least it pairs with MiGateway in the same way as for instance temperature sensor - long press, beeps, go. It has 2 buttons: one for pairing and another for assigning the physical keys, nothing else. Probably you're right, but what other type of pairing it may have?

[2021-03-01 06:49] madchicken commented on #123
Stupid question: did you simply try to turn on the permit join switch in Home App and then do the pairing process?

[2021-03-01 08:09] paulzhdanov commented on #123
Yep. Same result - nothing happens. I did try even monkey-way - press randomly 2 buttons, release reset button on lock simultaniously with "allowing new devices" message... Is there any "internal log"? I have "Homebridge Debug Mode -D" on, but may be a specific number "Debug level"?..

[2021-03-01 12:00] madchicken commented on #123
No, all debug is outputted when you set the `-D` option. This is very weird. Are you sure the device is not already paired? You can check from the web UI.

[2021-03-02 11:18] paulzhdanov commented on #123
After upgrade to 2.1.1 lock successfully connected, but...

[code]

[2021-03-02 11:20] paulzhdanov commented on #123
...I deleted all other devices to make sure there are no conflicts between them

[2021-03-02 11:27] madchicken commented on #123
Ok, thanks for reporting I'll fix it asap. I am finally adding tests to the codebase, so I can avoid these problems in the future.

[2021-03-02 17:48] madchicken commented on #123
Ok, this lock is just exposing a text property (`inserted`) and there is no control over it. It's not presented as a lock mechanism.
I need to implement a custom class for this

[2021-03-02 20:01] madchicken commented on #123
@paulzhdanov so, this device does nothing but reporting its status, correct?

[2021-03-02 20:07] paulzhdanov commented on #123
Is there anything I can do to help?

[2021-03-02 20:12] paulzhdanov commented on #123
@madchicken Status and lock/unlock action. Lock mechanism is a simple solenoid. Also it have one more function to sign/un-sign (physical) keys, but there is separate button next to reset and it can do the same, no need to repeat a complicated function.

Is there anything I can do to help?

[2021-03-02 20:13] paulzhdanov commented on #123
Here's detailed description: https://github.com/Koenkk/zigbee2mqtt/issues/3521#issuecomment-691364095

[2021-03-02 20:24] madchicken commented on #123
https://github.com/Koenkk/zigbee2mqtt/issues/3521#issuecomment-626796553

[2021-03-02 20:39] paulzhdanov commented on #123
You're right. I checked and yes, it reports the state of inserted key (correct key / not correct key), nothing else.

[2021-03-02 20:42] paulzhdanov commented on #123
and here's one more link with debug info: https://github.com/dresden-elektronik/deconz-rest-plugin/issues/1977

[2021-03-03 10:15] piokacz opened #131 "Web UI don't lunch"
Hello @madchicken I did clean install of Your plugin - version 2.1, I cleared the accessories cache. The Web UI don't work on any port. I restart the raspberry and Homebridge few times - but it didn't help, also I don't see any error in logs.
[code]

[2021-03-03 21:01] madchicken commented on #131
@piokacz Can you try v2.1.2? I added some log to debug this issue

[2021-03-03 21:32] piokacz commented on #131
Hello @madchicken , many thanks that your plugin works via homebridge interface - now I can install it without the need to buid it from the source.

My version of plugin:
`
homebridge-zigbee-nt v2.1.2
`
my logs after homebridge restart:
[code]

[2021-03-04 07:56] madchicken commented on #131
Ok, we need to remove your thermostat from supported devices, since is not recognised by the herdsman lib, as you can see from the two lines of logs:

[code]

To support it, we need to wait that it is added to supported devices in `zigbee-herdsman-converters` project.
I'll push a new version without the thermostat support so you can start the plugin

[2021-03-04 08:04] piokacz commented on #131
Hello @madchicken, this thermostat is paired with the dongle, but it's not present in the network - I just borrowed it for a while. Without the Web UI i cannot unpair the device - maybe this is the problem?

[2021-03-04 08:11] madchicken commented on #131
Yes, it is the problem. Stay tuned, I'll push a new version soon, so you can use again the WEB UI

[2021-03-04 08:21] madchicken commented on #131
Oh wait! They just added it https://github.com/Koenkk/zigbee2mqtt/issues/6088
Let me see if we can support it

[2021-03-04 08:29] piokacz commented on #131
Hi, I saw You [Fix] Dismiss support for _TZE200_ckud7u2l TS0601 thermostat (#133), but my thermostat _TZE200_ckud7u2l TS0601 works fine and the other one _TZE200_2dpplnsn', ['TS0601'] is not present in my network write now

[2021-03-04 08:37] madchicken commented on #131
Thanks for pointing that our, sorry for the confusion, I fixed the PR

[2021-03-04 15:50] piokacz commented on #131
Hi @madchicken , in wersion 2.1.3 it's working:
[code]

[2021-03-04 15:50] #131 closed

[2021-03-04 16:37] piokacz opened #134 "Web UI - cannot delete disconected devices"
Hi, I tried to delete disconected devices - logs an screenshot bellow:

[code]
<img width="1439" alt="Zrzut ekranu 2021-03-4 o 17 35 34" src="https://user-images.githubusercontent.com/75645851/109997083-22b26f00-7d10-11eb-939e-3c53476c42d0.png">

[2021-03-04 16:47] piokacz opened #135 "TuYa TS0041 - Successfully auto discovered but don't work in home app"
Hi, before auto discover function i was using xiaomi-wireless-swith.ts to control the device and it works fine - is it possible to add this device the same as xiaomi?

[code]

[2021-03-06 19:21] madchicken commented on #135
Switches will come. If you do not set `preferAutoDiscovery` flag to true, you should still be able to use the device as before, since the static definition will take precedence on the auto discovery process

[2021-03-07 12:06] piokacz commented on #135
Hi, now I'm using the standard version - I didn't add definition to accessories and the switch is not compatible with homekit.
In my config i have `"preferAutoDiscover": false,`
<img width="516" alt="Zrzut ekranu 2021-03-7 o 12 58 22" src="https://user-images.githubusercontent.com/75645851/110239129-b9b43c80-7f45-11eb-849a-fbc1851089fd.png">

[2021-03-10 10:40] madchicken commented on #135
Oh, I see, that button is not mapped internally, so it always fall under auto discovery. But as I said, switches are still unsupported by it. Please, be patient, I am really busy in this period, I will be back on this project soon

[2021-03-10 14:31] grrrum opened #136 "TRADAFRI LED1624G9 Support"
Hi,

Not sure if this is the correct place to post this, I am new to this! I have a Zigbee sniffer which appears to be working correctly and supported etc - I have successfully managed to pair a Philips Hue bulb to it previously when testing and it all worked correctly.

I have just bought three Ikea TRADAFRI bulbs, all which have the serial number LED1624G9, which I do not see in the list of curr

[2021-03-20 12:01] maccoylton opened #137 "How to find device details - adding new TVR"
Try to add a new TVR, already have on installed successfully.

Adding the second one I see this is the log:-

[20/03/2021, 11:40:13] [ZigBee] Accepting joining whitelisted device '0x847127fffe1dbcc5'
[20/03/2021, 11:40:13] [ZigBee] Device joined, Adding 0x847127fffe1dbcc5 (undefined - undefined)
[20/03/2021, 11:40:13] [ZigBee] Interview progress started for device 0x847127fffe1dbcc5
[20/03/2021, 1

[2021-03-21 09:44] madchicken commented on #136
Yes, I am aware of the problem with preset colors. I still didn't have time to undestand what is going on with them. I want to add adaptive light support (since it is now supported in homebridge 1.3). I'll try to fix this issue along the other changes

[2021-03-21 10:52] #122 closed

[2021-03-21 10:52] #124 closed

[2021-03-21 10:52] #129 closed

[2021-03-21 16:57] piokacz opened #140 "Moes thermostat model TS0601"
After installing new version 2.2.0 i lost my thermostat - logs bellow

[code]

[2021-03-21 17:30] piokacz commented on #135
hello, @madchicken - switch works properly - only battery service is not working.

[2021-03-21 23:11] maccoylton commented on #137
This issue was signal strength, so not an issue with the library itself

Would be good if you can give some tip on adding more debugging

[2021-03-22 08:24] madchicken commented on #135
Battery service is correctly configured, otherwise you would not see it in Home App.The problem seems to be the device not reporting it. Do you see messages from the device (they should appear as "attributeReport" in logs) with something related the battery?

[2021-03-22 08:25] madchicken commented on #123
Sorry, I am gonna close this since the device is not fully supported by herdsman lib. Feel free to open a new one once it will be added

[2021-03-22 08:25] #123 closed

[2021-03-22 08:35] madchicken commented on #137
Please, from the homebridge settings page enable the debug toggle, then restart homebridge. You should see detailed information about your device (is a JSON object printed when the device is mounted). Copy it here, I can help you find information

[2021-03-22 10:58] maccoylton commented on #137
I have the device working it was a signal strength issue

[2021-03-22 10:58] #137 closed

[2021-03-22 15:47] piokacz commented on #135
Hello @madchicken ,

Bellow information from logs. I have problem with battery reporting in all of Tuya switches and sensor (RH3040, RH3052, TS0041) - see the screen from homebridge bellow logs.
[code]
<img width="1416" alt="Zrzut ekranu 2021-03-22 o 16 42 45" src="https://user-images.githubusercontent.com/75645851/112017688-2296d980-8b2e-11eb-95de-c4d439c7fb09.png">

[2021-03-22 16:37] piokacz opened #141 "Disappearing temp & Humi (Tuya temperature and humidity sensor - RH3052)"
Hi, I have a problem with T&H sensor. After pushing the button the parameters are show in homebridge and home app, but after a while it is set to 0 without any information in logs - the time sometimes is few second but some times it last few minutes. Also the battery service doesn't work.

[code]

![odczyt](https://user-images.githubusercontent.com/75645851/112025134-29751a80-8b35-11eb-9aef-91321f

[2021-03-22 16:40] madchicken commented on #140
Sorry, my bad. Will fix it in the next minor release

[2021-03-22 16:44] madchicken commented on #141
Does it happen with Home App too? Just to exclude a bug in the Homebridge UI.

[2021-03-22 17:00] madchicken commented on #135
Please, have a look at this issue: https://github.com/Koenkk/zigbee2mqtt/issues/6313

[2021-03-22 17:16] piokacz commented on #141
Hi @madchicken , yes it does. I put only information about homebridge just to exclude a bug in apple app :-)

[2021-03-22 17:18] #134 closed

[2021-03-22 17:25] piokacz commented on #135
I'm not sure I understood everything, but I found this information in logs about my switch:
`[3/22/2021, 4:54:53 PM] [ZigBee] Bind 0xbc33acfffe3313b6/1 genPowerCfg from '0x00124b0014da2968/1' failed (AREQ - ZDO - bindRsp after 10000ms)`
but also about Ikea motion sensor witch works fine with battery service:
`[3/22/2021, 4:54:53 PM] [ZigBee] Bind 0xbc33acfffed7e1b2/1 genPowerCfg from '0x00124b0014

[2021-03-22 17:40] piokacz commented on #140
Hello @madchicken , still same bugs. I clean the cache and restarted the homebridge:

[code]

[2021-03-22 22:57] maccoylton commented on #140
I am also seeing same issue, which is causing the target temperature to keep resetting to the default value

 Reading KEY 'current_heating_setpoint' from '0x847127fffe1dbcc5'
[22/03/2021, 22:54:00] [ZigBee] Reading 'current_heating_setpoint' for '0x847127fffe1dbcc5' failed: 'TypeError: converter.convertGet is not a function'

[2021-03-23 08:41] madchicken commented on #141
I will add some debug information in the next release, so we can understand where those zeroes are coming from...(it doesn't't make any sense at the moment, since I return the value I have in the state, that is correctly updated as you can see from your logs)

[2021-03-23 08:42] madchicken commented on #118
Close as stale

[2021-03-23 08:42] #118 closed

[2021-03-23 08:50] madchicken commented on #140
Latest changes on Homebridge are causing some issue with this. The lack of converter fo `current_heating_setpoint` is also a bad thing.
@maccoylton @piokacz Are you guys able to add some debug here and there in the controller/builder to better understand what's going on? Without the physical device is really hard for me to fix this issue

[2021-03-23 08:55] piokacz commented on #140
Hi @madchicken , could you explain more precisely what you mean by "some debug" - do you mean the logs from homebridge?

[2021-03-23 09:18] madchicken commented on #140
Yeah sorry, my bad. I was asking to add log lines inside the current code and print more information (by doing `this.log.debug(...)`) where you see errors now (thermostat-service-builder.js:8:71, thermostat-service-builder.ts:172:70). I don't understand why you ae getting errors like `Reading 'current_heating_setpoint' for '0x847127fffe1dbcc5' failed: 'TypeError: converter.convertGet is not a func

[2021-03-23 18:59] maccoylton commented on #140
Adding some now, the builder has a bug in it in as much as current heating cooling state can never be 3, according the homekit specs valid values are 0 off, 1 heat , and 2 cool. Will attempt to fix that as well, to see if that is making the situation worse

[2021-03-24 11:55] maccoylton commented on #140
I'm no expert but it looks like  these issue stem from trying to read from the zigbee message contents before we actually have anything from the Zigbee device, see highlighted text below, couple of extra debug statements added:-

Starting to advertise 'Homebridge 1062 5F98' using ciao backend!
[24/03/2021, 11:46:39] Homebridge v1.3.4 (Homebridge 1062) is running on port 51870.
[24/03/2021, 11:46:4

[2021-03-24 17:42] madchicken commented on #140
It seems to me they changed converters for that device. I am digging inside the herdsman-converters lib code.

[2021-03-24 19:44] madchicken commented on #141
Thanks @piokacz I was able to replicate this issue. Fix will come with next release

[2021-03-25 11:47] #119 closed

[2021-03-25 15:40] #39 closed

[2021-03-25 20:26] Monthyz opened #146 "new install on newest homebridge error"
Hello, on a very new homebridge install with successful install of homebridge-zigbee-nt thru UI of homebridge thru plugin section after first restart of homebridge I got this error message:

[25/03/2021, 21:18:43] ====================
[25/03/2021, 21:18:43] ERROR LOADING PLUGIN homebridge-zigbee-nt:
[25/03/2021, 21:18:43] /usr/local/lib/node_modules/homebridge-zigbee-nt/node_modules/zigbee-herdsma

[2021-03-25 21:03] madchicken commented on #146
Could you provide some info about your environment?

- Homebridge version
- Plugin version
- Node version

Thanks

[2021-03-25 22:28] Monthyz commented on #146
here you go:

Homebridge v1.3.4
homebridge-zigbee-nt v2.2.1
Node.js Version v14.15.4

[2021-03-25 22:36] Monthyz commented on #146
I tried homebridge-zigbee-nt v2.2.2 too.

No luck

[2021-03-25 23:22] piokacz commented on #141
Hi @madchicken version 2.2.2 didn't help it's still the issue, but I found this in logs in the time when temperature disappired:
`[3/26/2021, 12:14:04 AM] [ZigBee] No converter available for 'local_temperature'`
May be it will help - tomorrow I will read the logs once again

[2021-03-26 07:56] piokacz commented on #141
More information about 'illegal value':
[code]

[2021-03-26 07:57] piokacz commented on #140
More information about 'illegal value':

[code]

[2021-03-26 20:00] piokacz commented on #141
@madchicken before auto discovery i took `xiaomi-temp-humi-sensor.ts` change the name to RH3052, register the device and the plugin work perfectly :-)

[2021-03-27 13:12] Monthyz commented on #146
Any ideas? Thank you

[2021-03-28 17:22] madchicken commented on #146
No, sorry. It seems your installation is messed up. Somehow the js in the error above is containing some non javascript code.
You should try to reinstall the plugin from the CLI instead using the UI. Just open a terminal and type

    npm install homebridge-zigbee-nt -g --unsafe-perm

[2021-03-28 17:27] madchicken commented on #141
xiaomi-temp-humi-sensor.ts uses the exact same code of the auto discovery device (all the accessories are now using builders). It would help to see if the auto discovery is actually finding something different (and wrong) about your device

[2021-03-28 19:46] piokacz commented on #141
Hi, the answer after Homebridge restart - two of my sensors:

[code]

[2021-03-29 07:16] madchicken commented on #141
Ok, it seems I left other stuff around. This happens because I start doing something on a day and I finish it five days lates...and I don't remember what I was doing 😓

[2021-03-29 13:35] #141 closed

[2021-03-29 17:56] piokacz commented on #141
Thank you @madchicken - works perfekt

[2021-03-29 18:11] piokacz commented on #140
Hi @madchicken - still have this issue i v 2.2.3 - logs and screenshot bellow:
[code]
![IMG_3666](https://user-images.githubusercontent.com/75645851/112880476-c6522d80-90ca-11eb-8772-21b4cae39226.PNG)

[2021-03-29 18:18] madchicken commented on #140
Ok, but we are getting closer 😄
Reopening...

[2021-03-29 19:02] piokacz commented on #140
But in the same time it's look ok in home bridge
<img width="182" alt="Zrzut ekranu 2021-03-29 o 21 00 42" src="https://user-images.githubusercontent.com/75645851/112886318-0d8fec80-90d2-11eb-9354-125bcb7d152a.png">

[2021-03-29 19:09] maccoylton commented on #140
In my scenario if comes up initially as above in the Home app and then eventually comes up ok in the Home App. This seems to something to do with initial values for target temperature and target heating cooling state.

How is this meant to work with this plugin, where does the plugging expect to get the initial value for those characteristics?

[2021-03-29 19:29] piokacz commented on #140
After homebridge restart it's alway off (bellow) but after setting it up in HB it looks like above

<img width="175" alt="Zrzut ekranu 2021-03-29 o 21 17 48" src="https://user-images.githubusercontent.com/75645851/112888187-5648a500-90d4-11eb-96f9-1e9e4fbd085d.png">

[2021-03-29 19:34] piokacz commented on #141
@madchicken I lost humidity again after 4 hours :-) on one of my sensor, but after making the bath (change humi i room) it's on again.

[2021-03-29 19:36] piokacz commented on #141
I lost the battery level also

[2021-03-29 19:47] piokacz commented on #140
After few HB restart it's start working - miracle!  I wonder how long :-)
<img width="516" alt="Zrzut ekranu 2021-03-29 o 21 44 19" src="https://user-images.githubusercontent.com/75645851/112891246-30bd9a80-90d8-11eb-8077-d26b12733ea9.png">

[2021-03-30 07:54] piokacz commented on #141
next 12 hours work without errors :-)

[2021-03-30 12:11] #140 closed

[2021-03-30 17:02] maccoylton commented on #140
Still not fixed:-

- Doesn't appear to be handling temperature updates from the device.

- Handling of target temperate and target heating cooling state on start-up not clear

`[30/03/2021, 17:31:30] [ZigBee] No converter available for 'local_temperature'
[30/03/2021, 17:31:30] [ZigBee] No converter available for 'local_temperature'
[30/03/2021, 17:36:51] [ZigBee] No converter available for 'local

[2021-03-31 06:12] piokacz commented on #135
In version 2.2.4 everything looks ok.

[2021-03-31 06:12] #135 closed

[2021-03-31 07:28] madchicken commented on #140
Could you check with v2.2.4?

[2021-04-02 02:36] #29 closed

[2021-04-05 07:39] Ugmaxie opened #150 "Error `Cannot read property UUID of undefined`"
- device Rasp 3@Raspbian native OS
- homebridge@1.2.5 (cannot update to fresh as an issue with some other modules)
- homebridge-zigbee-nt@latest
- node@v14.15.0
- npm@v6.14.18.
<img width="1039" alt="Screenshot 2021-04-05 at 10 33 49" src="https://user-images.githubusercontent.com/7901557/113550116-38f76780-95fb-11eb-8a4d-b6fdc12fb637.png">

[code]

[2021-04-13 04:10] the3future opened #153 "Unable to find USB port in Synology NAS"
I have installed Zigbee2mqtt in my synology docker, and it is running fine. I try to move everything over to this HomeBridge plugin, but unable to find the correct coding for the USB port.

In the zigbee2mqtt docker, I am using the port “/dev/ttyACM0”, but this is not working with this plugin. Any ideas how I can resolve this issue?

many thanks

[2021-04-16 02:28] #105 closed

[2021-04-18 21:42] tutasca opened #154 "IKEA on of button not working since 2.2.0"
Since update to 2.2.0 when pressing on or off sends double signals as on and off

[2021-04-20 08:08] kittapasp commented on #154
I've a same problem too on 2.2.4 with IKEA Trådfri ON/OFF Switch (model E1743).

[2021-04-20 09:06] gitmarcramos opened #155 "Plugin installation for Node v>9"
Hello,

It seems that this plugin can only run on a Node version below or equal to v9.
Is there any way to run it with a greater Node version?

Below the error message I get when I try to install the plugin.

[code]

Thanks

[2021-05-01 12:13] StefanNienhuis opened #156 "Dependency error in Docker"
When using Homebridge in Docker with the web ui, you get the error:
[code]

This is caused by:
https://github.com/madchicken/homebridge-zigbee-nt/blob/0a1b568d2a7c4120cdce7ecef207536b356ce2b2/src/web/api/http-server.ts#L14
Which is referenced by:
https://github.com/madchicken/homebridge-zigbee-nt/blob/0a1b568d2a7c4120cdce7ecef207536b356ce2b2/src/web/api/http-server.ts#L89

I think it's caused by t

[2021-05-06 06:33] piokacz opened #157 "connect to hardware error"
My plugin was working stable for few weeks on v.2.2.4. Yesterday I installed the new motion sensor - aqara with lumi. I didn't have any problems with adding the sensor and it was working fine for about an hour. After an error I did few homebridge restarts, I even restart my rPi 3 times - but it didn't help. Bellow my HB logs.

[code]

[2021-05-06 09:56] Figo66 commented on #154
I am using version 2.2.4 installed on homebridge on a raspberry pi using raspbian. I have the same problem like exposed above. When pressing any button all button actions trigger. Thi happens with ikea on/off switch and the other remote that i have(TRADFRI remote control, IKEA E1524/E1810). for the IKEA E1524/E1810 when you press either buttons all 5 buttons trigger.

[2021-05-06 17:53] piokacz commented on #157
My Environment:

System | Raspbian GNU/Linux Buster (10)
node.js v12.20.1
npm v6.14.10

any suggestion @madchicken ?

[2021-05-07 11:26] madchicken commented on #157
Uhm, this is a problem with the dongle. Have you tried to restart the raspberry? Please, attach your zig bee db, I might find something related to the coordinator config

[2021-05-07 11:44] piokacz commented on #157
I restart the rPI few times, I've installed twice the plugin - when it starting connect to dongle the led is on, but after an error it's go off again. In /dev/ folder I can see the dongle, but I don't know how to check if it's working correct. I don't have the db because I removed the plugin and all of devices.

[2021-05-08 05:27] madchicken commented on #157
I'd try to re-flash the dongle as last try.

[2021-05-08 13:18] piokacz commented on #157
@madchicken thank you for your advice - it is hardware problem

[2021-05-11 18:33] noahbjohnson opened #161 "Cannot read property 'configureKey' of undefined"
It looks like this error is occurring with my MINIZB. It's the only router on the network and it functions correctly as far as I can tell, both routing and switching.

## Logs
This is repeated back-to-back. (see "rejection id: 991")
[code]

On restart with debug on:
[code]

## Config

[code]

## Environment
[code]
[code]

Node.js Version | v14.16.1

[2021-05-11 18:44] noahbjohnson commented on #161
Without really digging into the functionality, it seems like it should be a minor code fix.

https://github.com/madchicken/homebridge-zigbee-nt/blob/0a1b568d2a7c4120cdce7ecef207536b356ce2b2/src/accessories/zig-bee-accessory.ts#L205-L211

This should at least prevent the log spam and anything needed could be sent to debug.

[code]

[2021-05-11 18:52] noahbjohnson commented on #161
Following the stack, it looks like L179 is the one calling the setter. Maybe the `this.zigBeeDefinition.configure` call isn't completing before resolving?
https://github.com/madchicken/homebridge-zigbee-nt/blob/0a1b568d2a7c4120cdce7ecef207536b356ce2b2/src/accessories/zig-bee-accessory.ts#L172-L199

[2021-05-14 22:04] nyxs opened #163 "Add Ikea Tradfri repeater support"
Hey all,
I bought the Ikea Tradfri repeater (which said to be supported) and I get this:
`[15/05/2021, 00:56:32] [ZigBee] Registering new accessory with uuid f34fbfb9-d4ee-4dc4-9b7f-16b171c5a08c and name 0xd0cf5efffedd9fb8
[15/05/2021, 00:56:32] [ZigBee] Device with key IKEA of Sweden:TRADFRI signal repeater not supported. Please open a Github issue for this at https://github.com/madchicken/homebr

[2021-05-19 13:36] rforro commented on #161
The same happens with **IKEA of Sweden TRADFRI bulb E27 WW 806lm** Model **LED1836G9**.

[2021-05-22 09:23] funnymataleao commented on #155
Same problem here :(

[2021-05-22 09:27] funnymataleao commented on #155
npm WARN notsup Unsupported engine for http2@3.3.7: wanted: {"node":">=0.12.0 <9.0.0"} (current: {"node":"14.17.0","npm":"6.14.13"})
npm WARN notsup Not compatible with your version of node/npm: http2@3.3.7
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@2.3.2 (node_modules/homebridge-zigbee-nt/node_modules/zigbee-herdsman/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDEN

[2021-05-23 15:36] oltitov commented on #11
Hello Friend!
I get this error on Synology.
Please tell me if you managed to solve this problem?

[2021-05-23 17:58] andrewbpowers opened #166 "No response from 0x5c0272fffe898f91. Is it online?"
I install Homebridge Zigbee Nt three times... doesn't work!
See the log:

`[23/05/2021, 18:49:49] [ZigbeeHomebridgeNTPlatform] Accepting joining whitelisted device '0x5c0272fffe898f91'
[23/05/2021, 18:49:49] [ZigbeeHomebridgeNTPlatform] Device joined, Adding 0x5c0272fffa342f91 (undefined - undefined)
[23/05/2021, 18:49:49] [ZigbeeHomebridgeNTPlatform] Interview progress started for device 0x5c0272

[2021-05-26 22:31] wojciechczerniak opened #167 "zigbee-herdsman recent update breaks the homebridge-zigbee-nt"
https://github.com/Koenkk/zigbee-herdsman v0.13.96 and above breaks this plugin. https://github.com/Koenkk/zigbee-herdsman/issues/374

[code]
Introduced in https://github.com/Koenkk/zigbee-herdsman/commit/8d50ba0cd78369b7f93911f00d6a47f7972667df

https://github.com/Koenkk/zigbee-herdsman/blob/8d50ba0cd78369b7f93911f00d6a47f7972667df/src/controller/controller.ts#L237-L239

To solve this https://git

[2021-05-28 03:58] #136 closed

[2021-05-28 10:45] jandre3000 commented on #11
@oltitov If I remember correctly, in my case this was a permission issue, where Docker did not have permission to read or access `/dev/ttyACM0`.

What worked for me was to first unplug the stick, load the kernel modules (I think this is necessary for DSM 7.0 now),
[code]
Then check if ` /dev/ttyACM0` exists. If it does, change the permissions `chmod 777 /dev/ttyACM0` and then start the docker cont

[2021-05-28 20:12] karlvr opened #169 "Philips Hue lights colour change intermittently working"
I'm investigating this issue, so I'm adding this here in case someone can provide some information to help.

I have three Hue light bulbs (E27 but about 9 years old). I TouchLink paired them.

Often when I attempt to change the colour the bulb(s) will flick to the new colour and then flick back to their previous state. Sometimes all of them, sometimes one or more.

If using the Home app UI and edi

[2021-05-29 07:18] karlvr commented on #169
Yep, I've found the problem. We receive separate hue and saturation change requests, but we turn each into a single RGB / XY change request, and because when we change colour we receive the hue and saturation change requests in quick succession we haven't updated our state yet for the previous change, so the second change overwrites the previous.

I've resolved this and I'm preparing a PR.

[2021-05-30 13:37] tutasca commented on #167
Where do i find this file to modify it?
homebridge-zigbee-nt/src/zigbee/zigBee-controller.ts

[2021-05-31 17:11] andrewbpowers commented on #166
Can be closed with pleasure. I switched to another system, which worked immediately and runs without problems.
Take care...

[2021-06-03 10:31] 5edenmeiri opened #172 "aqara window sensor"
hey.
so i have the Zigbee stick connected to the homebridge.
when i install your plugin and switch on the permit join I see a temperature sensor instead of a window sensor.
however, on homebridge i do see a window sensor close but when i open the sensor its not responding.

my question is -
why do I see a temperature sensor? (i don't have one)
how can i make the window sensor work properly?
thank

[2021-06-05 03:27] #146 closed

[2021-06-12 09:45] LouwHopley commented on #166
Hi @andrewbpowers , to what system did you switch? Was it perhaps a different homebridge plugin, or different hardware entirely? I'm having the same issues as above.

[2021-06-12 13:07] andrewbpowers commented on #166
Hello @LouwHopley !
Thank for your feedback. :-)

I really gave HB and Zigbee-NT the  a chance, but in the end it just didn't work without problems and pain. I'm also not sure if it ended up being HB or the plugin or the combination. I then just tried Home Assistant and everything worked immediately in terms of IKEA ZigBee light bulb. The bulb was recognized in seconds and works without any proble

[2021-06-13 02:22] #150 closed

[2021-06-20 02:27] #153 closed

[2021-06-21 11:37] manuchis commented on #161
Any solution yet? I had to re-install everything I cannot pair my devices anymore  because of this :(

[2021-06-21 12:28] manuchis commented on #167
Same here, now I cannot pair my devices after reinstall.

[2021-06-21 13:19] manuchis commented on #166
Well, despite AdrewbPowers left, I also have this problem with the lightbulbs and is unusable... :( it seems that many errors came with the update of herdsman plugin or something.

[2021-06-23 11:34] BananaJ0e commented on #157
i get the following error message:

[2021-6-23 13:32:07] [ZigBee] Error: Error while opening serialport 'Error: Error Resource temporarily unavailable Cannot lock port'
    at Znp.<anonymous> (/usr/local/lib/node_modules/homebridge-zigbee-nt/node_modules/zigbee-herdsman/src/adapter/z-stack/znp/znp.ts:146:28)
    at Generator.next (<anonymous>)
    at /usr/local/lib/node_modules/homebridge-zigbee-n

[2021-06-23 11:58] madchicken commented on #157
Did you try restarting the raspberry? I mean, by disconnecting the power...

[2021-06-23 12:00] madchicken commented on #167
Sorry, I didn't't get notifications from GitHub about recent issues so I lost this one 🤷‍♂️
I'll fix the issue in the next few days

[2021-06-24 07:40] #169 closed

[2021-06-28 15:43] #167 closed

[2021-07-09 02:11] #156 closed

[2021-07-15 20:15] Qeteshpony commented on #163
Can confirm. Getting the same message...

[code]

[2021-07-25 19:59] sgtsquiggs opened #177 "Unable to resolve dependency tree error during install"
Fresh Homebridge install on a raspi B+

[code]

[code]

[2021-07-26 21:38] Jannomag opened #178 "Trådfri bulbs - no smooth transitions / dimming"
Hi,
I just got homebridge on my raspberry pi home server running and installed this plugin.
I added 3 IKEA Trådfri E14 bulbs (TRADFRI bulb E14 WS 470lm) and they're working "fine".

I noticed that they don't dim or fade smoothly. Especially when changing colors it's happening without any transition.

I also noticed that they are changing their states (color, dim, on/off) not together as they do wi

[2021-07-27 16:12] Figo66 opened #179 "cannot update to version 2.5.0"
npm ERR! code ERESOLVE idealTree:homebridge-zigbee-nt: sill placeDep ROOT homebridge-zigbee-nt@2.5.0 OK for:  want: 2.5.0
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! Found: react@17.0.2
npm ERR! node_modules/homebridge-zigbee-nt/node_modules/react
npm ERR!   react@"17.0.2" from homebridge-zigbee-nt@2.5.0
npm ERR!   node_modules/homebridge-zigbee-nt
npm ERR!     homebridge

[2021-07-28 20:32] SRamsdell1 opened #180 "Can't get flash"
Not sure if this is the correct place to ask ...

On Mac OS 11.5.1 follow through links to install x-code, clt, homebrew, etc.  -- getting stuck on ./configure with

"configure: error: cannot find the flags to link with Boost regex"

Brew install Boost indicates version is up to date

Anyone else having this issue, or any idea how to resolve ?

[2021-07-30 02:19] #155 closed

[2021-08-02 17:00] reovadea opened #181 "zigbee-nt cannot find module"
This issue was reported before with a workaround and fixed and closed. But with the most recent versions of both homebridge and this plugin, the error seems to bee back.

[code]

[2021-08-04 13:50] madchicken commented on #154
Should be fixed now

[2021-08-04 13:51] #157 closed

[2021-08-04 17:11] Figo66 commented on #154
Hello,
Updated to latest version and the issue has changed, but still an issue, now for a 2 button remote, when pressing button 1 (short or long press) it sends button 2, than button 1 events. When pressing button 2 it does only button 2

Thanks,
Alexandru Tudor

[2021-08-04 17:16] Figo66 commented on #154
Also tested the 5 button remote from ikea, on test all buttons are sending button 5 events but from all the 5 buttons just 4 of them are working(the middle on/off button does not send an event  )

[2021-08-05 18:42] 5edenmeiri commented on #172
???

[2021-08-06 12:07] #180 closed

[2021-08-09 09:21] madchicken commented on #181
Should be fixed in #2.5.1

[2021-08-09 09:21] #181 closed

[2021-08-09 09:21] madchicken commented on #179
Should be fixed in #2.5.1

[2021-08-09 09:21] #179 closed

[2021-08-09 09:21] madchicken commented on #177
Should be fixed in #2.5.1

[2021-08-09 09:21] #177 closed

[2021-08-09 09:22] #166 closed

[2021-08-09 09:25] madchicken commented on #163
I will look into this...I need to understand how this device integrates with Homekit in general

[2021-08-09 09:28] Qeteshpony commented on #163
IMHO there should not be any Homekit integration at all since it is just a repeater without any further functionality.

[2021-08-09 09:36] madchicken commented on #163
Yes, but this is an homebridge plugin, that is creating accessories for Homekit. I need to handle this accessory differently

[2021-08-09 09:44] Qeteshpony commented on #163
That's what I meant. It needs to be handled differently as in not handled at all... without producing that error message. It is part of the network but should not be part of the homekit integration.

[2021-08-09 13:15] maccoylton opened #184 "Build Issue on Raspian Buster with 2.5.1"
I have been able to build the previous versions without issue. Today I pulled 2.5.1 and am getting the following build issues:-

yarn && yarn build
yarn install v1.22.5
[1/5] Validating package.json...
warning homebridge-zigbee-nt@2.5.1: The engine "homebridge" appears to be invalid.
[2/5] Resolving packages...
warning Resolution field "@types/react@17.0.0" is incompatible with requested version "

[2021-08-10 12:41] madchicken commented on #184
Can you tell me which version of node are you using? I suspect some incompatibility with parcel

[2021-08-10 13:08] maccoylton commented on #184
v14.17.4

[2021-08-17 19:40] huddx01 commented on #154
Same here on v2.5.1 on a 5 Button Ikea Remote... The Power Button doesnt work...
And the other 4 Buttons seem all to send the same Signal to the same Actor... Regardless if i configure Brightness to Actor1 and Left/Right to Actor2...

[2021-08-21 11:15] madchicken commented on #154
Sorry for this annoying bug, I'll try to get it fixed in the next few days

[2021-08-25 08:29] madchicken commented on #154
@Figo66 @huddx01 @tutasca @kittapasp Can someone test version 2.5.2-beta.1 and tell me if buttons are now working as expected?

[2021-08-29 16:25] madchicken commented on #163
Ok, beta.5 should now work (I added a test). Let me know so I can merge this PR

[2021-08-29 16:44] madchicken commented on #154
I forgot to ask: which device are you testing? Ikea On/Off or something else?

[2021-08-30 07:24] nyxs commented on #163
Sorry to disappoint, but it's not working also:
[30/08/2021, 10:16:23] [ZigBee] Device with key IKEA of Sweden:TRADFRI signal repeater not supported. Please open a Github issue for this at https://github.com/madchicken/homebridge-zigbee-nt/issues Device {
  ID: 6,
  _type: 'Router',
  _ieeeAddr: '0xd0cf5efffedd9fb8',
  _networkAddress: 25240,
  _manufacturerID: 4476,
  _endpoints: [
    Endpoint {

[2021-08-30 18:10] huddx01 commented on #154
Its an IKEA Remote... as in my logs above...

[code]

[2021-09-01 07:49] madchicken commented on #154
@huddx01 could you please attach the homebridge log after a restart? I need to understand which device is actually recognised from the plugin. And sorry for my delay in responding, but I am out for work and it's a bit difficult for me to follow "personal projects" in this period

[2021-09-05 16:50] madchicken commented on #178
@Jannomag could you try adding this to your plugin configuration for your bulb(s)?
[code]

[2021-09-05 17:01] Jannomag commented on #178
Somehow the homebridge installation crashed my whole raspberry and I was not able to recover the system even using my backup files. So I needed to reinstall it completely and gave up on this project.
anyways, thanks for the reply

[2021-09-05 17:01] #178 closed

[2021-09-07 10:58] madchicken commented on #163
Can you try the new beta.6 @nyxs ?

[2021-09-07 10:59] madchicken commented on #154
@huddx01 I got on remote from IKEA and I finally found the problem...it's fixed in beta.6 version

[2021-09-07 11:00] madchicken commented on #184
This is weird: I was able to replicate the problem, but I don't know how to solve it. I am digging inside the parcel documentation/issues to understand why that file is missing

[2021-09-07 11:01] madchicken commented on #172
@5edenmeiri let me know if you can find the device JSON descriptor

[2021-09-07 14:07] nyxs commented on #163
Ok, so I had to install it using --unsafe, otherwise, it fails to install.
Now I do see it as an unsupported device.

The question now is if it will cast to the HB and then to the HK the devices synced to it.
Need to test.

[2021-09-07 14:11] madchicken commented on #163
Ok, I am gonna close this and merge the PR. Please feel free to open a new one if you find any problem

[2021-09-07 14:19] #154 closed

[2021-09-07 14:20] #161 closed

[2021-09-13 10:49] maccoylton commented on #184
ok .. let me know if there is anything I can test at my end

[2021-09-13 17:41] maccoylton opened #190 "2.5.3 appear to breaks ZigBee on Raspian, looks like zigbee herdsman updated serialport package and then reversed that update due to issues"
Just pulled the latest  sources and ZigBee bears to be partially broken:-

[13/09/2021, 18:49:40] Homebridge v1.3.4 (Homebridge 1062) is running on port 51870.
[13/09/2021, 18:49:40] [ZigBee] Configured port for ZigBee dongle is /dev/ttyACM0
[13/09/2021, 18:49:40] [ZigBee] Initializing ZigBee controller on port /dev/ttyACM0 and channels 11, 25 (pan ID 6754)
[13/09/2021, 18:50:45] [ZigBee] Error: A

[2021-09-13 18:53] maccoylton commented on #190
https://github.com/Koenkk/zigbee-herdsman/commit/18fbd5dd4689969a9a3e2e6bce2ab808af5d630f

[2021-09-13 22:13] huddx01 opened #191 "2.5.3 purged all known zigbee devices?"
In my case all the previously known devices and their automations/assignments in HomeKit have been purged after the update.

[2021-09-17 07:21] svenadlung opened #194 "Could not locate the bindings file / Cannot find module 'homebridge/lib/logger'"
Hello,

thank you for providing this plugin. I appreciate it very much. Unfortunately, after installing and restarting, I get the following errors in the logs:

[code]

Any idea?

Best regards.

[2021-09-17 07:23] maccoylton commented on #190
After downgrading to 2.5.2 still did't work until I re-flashed  my Zigbee adapter.

[2021-09-17 07:50] maccoylton commented on #184
Loks like this is a know issue in parcel, for which there a fix, but still doesn't work for me in Raspian

[2021-09-17 08:11] madchicken commented on #184
@maccoylton can you point me to the "fix" so I can test it on my side?

[2021-09-17 20:02] maccoylton commented on #184
https://github.com/parcel-bundler/parcel/issues/6947

[2021-09-17 21:37] svenadlung commented on #194
Okay, since I am running Homebridge in Docker (on Synology NAS) with Alpine Linux, I needed to manually reinstall SerialPort like described here: https://serialport.io/docs/guide-installation/#alpine-linux

[code]

Now there is a new error coming up:

`Error: Cannot find module 'homebridge/lib/logger'`

I've seen this a few times in closed issues. Lastly here: https://github.com/madchicken/homebri

[2021-09-17 21:48] svenadlung commented on #194
Okay, installing homebridge as a peer dependency seems to make it

`npm install homebridge`

Still struggling with some permission errors, since SerialPort is not able to access /dev but this might be related to Docker. Will close the ticket.

[2021-09-17 21:48] #194 closed

[2021-09-20 07:42] madchicken commented on #194
weird, but it's probably something due to some assumption on libraries paths that are not in line with running home bridge in docker...let me know if you find something more, we could add a page on the wiki regarding this problem

[2021-09-20 15:29] yannishuber opened #195 "Brightness percentage not reported correctly"
There seems to be an issue with the reported brightness in Homebridge. Setting a brightness value from the Apple Home app does update the light bulb's brightness as expected, however, the reported brightness which is read back after by the Home app is always 100%. (The same occurs if the brightness is updated from the Homebridge dashboard.)

Plugin version: 2.5.2
Light bulb: TRADFRI bulb E27 WW cl

[2021-09-22 08:10] madchicken commented on #190
Thanks for reporting this @maccoylton, I just released a new version and forced the downgrade of the serialport package

[2021-09-22 08:10] #190 closed

[2021-09-22 08:12] madchicken commented on #191
@huddx01 I think the problem was due to the serial port dependency the @maccoylton reported [here](https://github.com/madchicken/homebridge-zigbee-nt/issues/190). Sorry for the inconvenience 😢

[2021-09-22 08:12] #191 closed

[2021-09-22 08:14] madchicken commented on #195
Uhm, it seems a problem in the herdsman lib when reporting the percentage. I should problem use the non converted value and convert manually to %

[2021-09-22 08:50] maccoylton commented on #184
FYI I logged a second bug report with parcel, even with the night build I still had an issue:-

https://github.com/parcel-bundler/parcel/issues/6967

[2021-10-05 17:03] piokacz commented on #163
Hi, I'm ussing the latest version of plugin. Today I install Ikea repeater. The log below:
(node:21039) UnhandledPromiseRejectionWarning: TypeError: Cannot set property 'configured' of undefined
    at IkeaSignalRepeater.set isConfigured [as isConfigured] (/usr/lib/node_modules/homebridge-zigbee-nt/src/accessories/zig-bee-accessory.ts:209:46)
    at IkeaSignalRepeater.<anonymous> (/usr/lib/node_mo

[2021-10-05 17:07] piokacz opened #203 "IKEA Tradfri repeater support"
Hi, I'm ussing the latest version of plugin. Today I install Ikea repeater. The log below:
[code]

[2021-10-06 18:06] jimmymcheung opened #204 "Not able to use this plugin"
I did a fresh install after it was showing error when the homebridge starting up, but the following error notification keep showing: `Error: Cannot find module 'homebridge/lib/logger'` under that it also shows `Require stack:
- /homebridge/node_modules/homebridge-zigbee-nt/dist/web/api/http-server.js
- /homebridge/node_modules/homebridge-zigbee-nt/dist/platform.js
- /homebridge/node_modules/homebr

[2021-10-13 23:50] Figo66 opened #205 "TRADFRI driver for wireless control (30 watt) ) STOPPED WORKING"
I have updated to altest version and https://www.zigbee2mqtt.io/devices/ICPSHC24-30EU-IL-1.html ( TRADFRI driver for wireless control (30 watt) ) STOPPED WORKING. Is showing up in IOS home app as unresponsive. I want to underline that with previous version of the plugin it worked as expected.
Exact error spamming the log “ (node:11360) UnhandledPromiseRejectionWarning: Unhandled promise rejection.

[2021-10-18 15:06] Figo66 commented on #205
In order to make it work, as it was impossible to turn on or off the lights in discussion, I downgraded 2 versions. Now I don’t have fresh logs. I think I can find some old logs.

[2021-10-19 05:20] lucaskoehler opened #206 "Some devices lost after restarting Homebridge"
Some Zigbee devices paired to the plugin are lost after restarting the homebridge server.
In my case: a Tradfri bulb and an Aqara Leak Sensor are not displayed anymore while the Hue Outdoor Sensor still works after rebooting.

When trying to pair the devices again, it says that they were not unpaired.

This is the log of the restart process:
[code]
(the last part of the log repeats every few secon

[2021-10-19 22:32] Figo66 commented on #205
Found an older full log, there is a lot of clutter in there but hope it helps

Sent from my iPhone

:27] [Robo Rosie] ERR getState | {"code":"timeout","device":null}
[14/09/2021, 16:06:31] [TadoPlatform] 1 - Error getting state from API.
[14/09/2021, 16:07:05] [Robo Rosie] ERR connect | miio.device, next try in 2 minutes | Error: Could not connect to device, token might be wrong
[14/09/2021, 16:07

[2021-10-20 19:37] pillemats opened #207 "Can not Find CC2531 Error while connecting"
hi

My HW is

- HB on Debian10 VM
- CC2531 USB Stick flashed

i want to connect it to HB with this settings

` {
            "name": "ZigBee",
            "channel": 11,
            "secondaryChannel": "25",
            "adapter": "zstack",
            "routerPollingInterval": 30,
            "disableRouterPolling": false,
            "disableHttpServer": false,
            "disableLed": false,

[2021-10-29 18:11] marcoslater commented on #163
Hi, it appears my logs are also showing that TypeError when using the signal repeater, started as soon as I added it.

@madchicken Is it OK to leave that? It seems to send this error to the console quite often.

[2021-10-31 10:28] madchicken commented on #163
If someone can test this branch it should solve the issue: https://github.com/madchicken/homebridge-zigbee-nt/pull/208

[2021-10-31 10:41] marcoslater commented on #163
Hey, I'd love to test this for you to confirm it's all working- I'm running homebridge using the raspberry pi image, what would be the best way to run your plugin on this branch on it?

[2021-10-31 13:46] madchicken commented on #163
Can you try version 2.5.5?

[2021-10-31 14:53] marcoslater commented on #163
Hey, I've just updated to it, and tried add the signal repeater specifically, it looks like the same error occurs.

Here's the full log from when I tried:

[code]

Just to let you know, I got the following message when it updated, although this didn't seem to impact it's operation:

[code]

[2021-10-31 15:10] marcoslater commented on #163
I'd like to add some further details- Previously upon rebooting, the error would persist, whereas currently it seems to (presumably) succeed as I see this line and no errors specifically like the above:

[code]

[2021-10-31 15:12] marcoslater commented on #163
Another update: I also used to see this error when adding bulbs to the system, however now this does not appear and they seem to instead work just fine, which is fantastic! 🎉

[2021-10-31 15:13] madchicken commented on #163
I can definitely tell that the previous error was originated by the previous version (2.5.4). Glad to hear that it is working

[2021-10-31 15:13] #163 closed

[2021-10-31 15:14] madchicken commented on #206
Should be fixed in version 2.5.5

[2021-10-31 15:14] #206 closed

[2021-10-31 15:14] marcoslater commented on #163
So maybe the new version didn't fully take effect until I rebooted the Pi? Huh!

[2021-10-31 15:14] madchicken commented on #203
Should be fixed in version 2.5.5

[2021-10-31 15:14] #203 closed

[2021-10-31 15:22] madchicken commented on #207
This is a permission issue due to the system not allowing you to use the port. I am not an expert on this, so my help is limited here. As a _temporary_ workaorund, you could try to give permissions from the CLI, like this:

    sudo chmod 666 /dev/ttyACM0

but I would suggest to search on google a cleaner and definitive way to do it

[2021-11-01 14:25] maccoylton opened #209 "Issue building latest version on Raspberry PI OS - Bullseye. Serial port bindings"
Any ideas how to fix?

`[01/11/2021, 14:13:50] ====================
[01/11/2021, 14:13:50] ERROR LOADING PLUGIN homebridge-zigbee-nt:
[01/11/2021, 14:13:50] Error: Could not locate the bindings file. Tried:
 → /usr/lib/node_modules/homebridge-zigbee-nt/node_modules/@serialport/bindings/build/bindings.node
 → /usr/lib/node_modules/homebridge-zigbee-nt/node_modules/@serialport/bindings/build/Debug/b

[2021-11-01 22:13] maccoylton commented on #209
npm was broken, seems by my upgrade to bullseye. It was trying to install packages into the wrong place

[2021-11-01 22:13] #209 closed

[2021-11-02 11:55] maccoylton opened #210 "getSystemMode in zig-bee-client returns an error"
Experimenting with using the functions in zig-bee-client to to read attributes, using getSystemMode, I get the error:-

Reading 'system_mode' for 'Office Radiator' failed: 'TypeError: converter.convertGet is not a function'

[2021-11-09 15:25] maccoylton opened #211 "Feature Request - Network Graph"
Any way to add a network Graph. zigbee2mqtt has one here:-

https://github.com/Koenkk/zigbee2mqtt/blob/0a1fccf6b3c7383ead8d5b6c77ac6063e70c31aa/lib/extension/networkMap.ts

[2021-11-15 02:10] #172 closed

[2021-11-16 22:49] britishchris opened #212 "Ikea shortcut button fw 2.3.80 button presses not registering"
Hi,
I have several ikea Shortcut butttons, some are running firmware 2.3.15 and these work with this plug-in. However, some are firmware 2.3.80 which was recently released. These buttons pair OK and are visible in HomeKit, but the button presses do not register.
Is it possible to update in order to support the newer firmware?

Is there any details you require me to send?

Thanks in advance

[2021-11-19 11:53] maccoylton opened #213 "Question: Handling of attributes state"
Hi,  I'm  trying to better understand how this library works. They way I thought this might would work would be when we establish a connection with an accessory, then we would query that accessory for all the relevant attributes, and then after that we get and push updates form/to the accessory periodically and/or when a value changes.

That initial query doesn't seen to exist and therefore the st

[2021-11-29 09:24] javimoval opened #215 "Incorrect identification of compatible devices"
When I pair a lumi.sensor_magnet device, the program recognizes it as lumi.sensor_magnet.aq2, which makes it not work properly because it only shows the temperature in homekit. Is there any way to manually change the type of device it identifies once paired?
Thanks for everything

[2021-11-29 14:05] #215 closed

[2021-11-30 06:33] hmyzero opened #216 "Accessory got missing after restart homebridge, and wireless button mapping problem"
My environment:
Homebridge 1.3.8
node.js 14.15.0
homebridge-zigbee-nt v2.5.5
Windows 10

I have a Aqara Wireless Remote Switch Double Rocker (2 buttons), and using a CC2531 as the zigbee gateway, at first it paired good and works fine. but when I restart Homebridge service the button disappeared, in the "zigbee NT Web UI - paired devices" it also missing , then if I redo the pairing procedure, it

[2021-12-03 09:27] jmaferreira opened #218 "Is there any planned support for CC2652P?"
Hi,

I read good things about the Sonoff USB dongle with the CC2652P chipset (https://sonoff.tech/product/diy-smart-switch/sonoff-dongle-plus).

Does this plugin supports this dongle or will it in the future?

Cheers.

[2021-12-04 14:16] xvolks commented on #206
I have the exact same problem with LIDL accessories (Bulb and outlet tested, see: https://www.lidl.be/h/fr-BE/maison-connectee/h10005939?price=8+-+31).
The whole thing can be driver by the Tuya application, so I think it's a rebranded stuff.

[2021-12-04 14:17] xvolks commented on #216
I have the exact same problem with LIDL accessories (Bulb and outlet tested, see: https://www.lidl.be/h/fr-BE/maison-connectee/h10005939?price=8+-+31).
The whole thing can be driver by the Tuya application, so I think it's a rebranded stuff.

[2021-12-06 15:24] madchicken commented on #213
The way the device communicates with HK depends on the device itself: most of the devices notify the hub by periodically sending their status, since there is no way to read certain endpoints. The plugin is directly reading the endpoints when possible (and it does when HK requests it, for example when you ope the Home App on your phone), while it waits for an update where there is no READ endpoint.

[2021-12-06 15:26] madchicken commented on #212
It would be good if you could attach the log of HB when you press the button

[2021-12-06 15:34] madchicken commented on #210
Can you give me more details about the device you are using?
Also a log from HB could help.

[2021-12-06 15:34] #207 closed

[2021-12-06 15:44] madchicken commented on #218
I use the same library Zigbee2MQTT is using to connect to the adapter, so all the adapters listed here should be supported: https://www.zigbee2mqtt.io/guide/adapters/#notes

It seems yours is there, so it should work. If it doesn't send me the logs from HB when you start the plugin

[2021-12-08 13:30] madchicken commented on #205
It seems this device is constantly leaving and joining the network instead of responding to the ping...I need to check if there is a special treatment for it in the Zigbee2MQTT project, because I don't know what it is doing

[2021-12-09 18:04] britishchris commented on #212
[homebridge-shortcut-button-2.3.80-log.txt](https://github.com/madchicken/homebridge-zigbee-nt/files/7687421/homebridge-shortcut-button-2.3.80-log.txt)
[zigbee-structure-shortcut-2.3.80.txt](https://github.com/madchicken/homebridge-zigbee-nt/files/7687422/zigbee-structure-shortcut-2.3.80.txt)

Hi, I'm attaching two files. the first is when I pair the Shortcut button with Homebridge. The second one

[2021-12-10 10:51] madchicken commented on #212
Ok, I found out is a bug with the new firmware, that can be solved by binding the on/off endpoint to the coordinator: https://github.com/Koenkk/zigbee2mqtt/issues/9551
The problem is that you can't do that ATM from the plugin UI, I need to add that feature 😞

[2021-12-10 10:54] #204 closed

[2021-12-10 17:16] davidXire commented on #216
Same issue with aqara sensor

[2021-12-12 18:12] jmaferreira commented on #216
I actually have this problem with all my zigbee devices on homebridge-zigbee-nt v2.5.5.
After reboot all my devices are gone.

[2021-12-12 18:32] madchicken commented on #216
Which version of Homebridge are you using?

[2021-12-12 21:18] madchicken commented on #216
@xvolks @davidXire @jmaferreira @hmyzero I suspect the plugin is not able to write the database on the file system (or it gets reset for some reason). Please, register some device (1 or 2 is enough) and then check if the file `/var/lib/homebridge/zigBee.db` exists. If so, restart homebridge and check the file again and tell me if it is different. The file is a list of JSON device configurations, o

[2021-12-13 01:25] Figo66 commented on #216
I have the same issue, after reboot all my zigbee devices got unpiared. I have 8 tradfri bulbs, 2 motion senzors, one ikea, on lidl, 2 ikea remotes and a tradfri wireless controller. This is annoying

[2021-12-13 01:33] Figo66 commented on #205
Photo of zigbee.db info

[2021-12-13 01:33] Figo66 commented on #216
I’ve sent you a photo with what the .db file contains after restart

[2021-12-13 08:49] jmaferreira commented on #216
Dear all,

I've deleted by devices cache and zigBee.db file and apparently it solved the issue. I haven't tested it thoroughly but it seems to be working for the small amount of devices I have paired already.

BTW: this happened after I've upgraded from version 2.2.3 to 2.5.5.

[2021-12-13 08:51] davidXire commented on #216
Hi,
I have reinstalled the plugin, and no issue after that.

[2021-12-13 08:54] madchicken commented on #216
@Figo66 Unfortunately the email does not contains an attachment. Can you just paste the content instead? Also, does the folder contains database backups? Every time HB restarts, the plugin makes a backup of the database, by copying the current version into a file named `zigBee.db.xxxxxxxxx` (where the last part is the creation timestamp).
Essentially, there is something not working around this par

[2021-12-13 08:55] jmaferreira commented on #216
I have tried reinstalled several times with no success. So I guess it depends on the setup.

[2021-12-13 10:07] maccoylton commented on #210
This was on a thermostat device (TRV), will have some time next week to provide additional logs

[2021-12-13 10:58] madchicken commented on #216
Could you please add `zigbee-herdsman:*` to the debug options of Homebridge in this way:

<img width="731" alt="Screenshot 2021-12-13 at 11 56 38" src="https://user-images.githubusercontent.com/296618/145800418-4ddacbab-ae1e-46be-b129-e0550ae408e7.png">

After restarting, we should be able to see if the library is throwing some error...

[2021-12-13 12:48] Figo66 commented on #216
Yes indeed it creates backups, but the one in use zigBee.db is empty(only contains the Coordinator)

[2021-12-13 14:03] maccoylton opened #219 "Issue using web interface to "get" local_temperature_calibration from TVR"
Issue the following using the web interface: {"local_temperature_calibration": ""}

see the following Error, BTW set for the same attribute works ok

[13/12/2021, 13:58:02] [ZigBee] [TuyaThermostatControl] Update: Office Radiator, local_temperature: 16, running_state: undefined, position: 0, this.state {
  local_temperature: 16,
  current_heating_setpoint: 21,
  preset: 'manual',
  away_mode: 'OFF

[2021-12-13 16:39] maccoylton commented on #210
[13/12/2021, 16:37:30] [ZigBee] Reading KEY 'system_mode' from 'Office Radiator'
[13/12/2021, 16:37:30] [ZigBee] Reading 'system_mode' for 'Office Radiator' failed: 'TypeError: converter.convertGet is not a function'
[13/12/2021, 16:37:30] [ZigBee] TypeError: converter.convertGet is not a function
    at ZigBeeClient.<anonymous> (/usr/lib/node_modules/homebridge-zigbee-nt/src/zigbee/zig-bee-client

[2021-12-13 17:09] maccoylton commented on #210
https://www.zigbee2mqtt.io/devices/TS0601_thermostat.html

Could it be something to do with handling of nested attributes as the is part of climate?

If I try with any of the attributes of climate that support get, I see the same

[2021-12-13 17:17] maccoylton commented on #213
So on the devices types I'm focussed (TRV), it appears that the status message does not always contain all values where a get command is not possible, and instate they only become part of the state value as and when the accessory see it changing and then it send a status update.

In the case of a TVR this means the current_local_temperature and position are not always know when home bridge is star

[2021-12-13 17:24] maccoylton opened #220 "Enhacement Request: Show Friendly name in Paired Devices view"
Would be great if we could see the frindly name in the Paired Device View.

[2021-12-14 08:21] madchicken commented on #210
I took a quick look to the device definition in the herdsman converter lib, and to me it seems they forgot some converter and messed up with the documentation. For example I can't find a converter for `system_mode` even if it is declared as exposed feature. Also, none of the configured properties has a `getConverter`: this means that none of the properties is readable (you just have the set). This

[2021-12-14 10:32] madchicken commented on #219
See my comment here https://github.com/madchicken/homebridge-zigbee-nt/issues/210#issuecomment-993270559

[2021-12-14 11:57] madchicken commented on #216
Are backups correct? Do they contains all paired devices?

[2021-12-14 12:20] Figo66 commented on #216
Hello, yes the backups are correct and contain all the paired devices, but I tried copy pasting the content in to the current .db file but it appears not to load the file when running.

[2021-12-14 15:18] madchicken commented on #216
When you shutdown the service, it will update the database again (with an empty content). To use a backup you need to stop the HB service, swap the file and then start HB again.

[2021-12-17 02:33] hmyzero commented on #216
@madchicken When the accessory first added, the zigbee.db is this:

{"id":1,"type":"Coordinator","ieeeAddr":"0x00124b001cd6f1d0","nwkAddr":0,"manufId":0,"epList":[242,47,13,12,110,11,10,8,6,5,4,3,2,1],"endpoints":{"1":{"profId":260,"epId":1,"devId":5,"inClusterList":[],"outClusterList":[],"clusters":{},"binds":[],"configuredReportings":[],"meta":{}},"2":{"profId":257,"epId":2,"devId":5,"inClusterL

[2021-12-17 02:44] hmyzero commented on #216
And I added the debug option, after restart here is the full log:

[37m[2021/12/17 上午10:36:33][0m [36m[HB Supervisor][0m OS: Windows_NT 10.0.17763 x64
[37m[2021/12/17 上午10:36:33][0m [36m[HB Supervisor][0m Node.js v14.15.0 C:\Program Files\nodejs\node.exe
[37m[2021/12/17 上午10:36:33][0m [36m[HB Supervisor][0m Homebridge Path: C:\Users\ComputerStick\AppData\Roaming\npm\node_modules\homebr

[2021-12-17 09:11] madchicken commented on #216
Thanks @hmyzero there is a suspect line during initialization:

    2021-12-17T02:37:12.408Z zigbee-herdsman:controller:log Clearing database...

I will investigate

[2021-12-18 10:33] mdenty opened #221 "logger object does not have a debug function ?"
After having this consistent error with my LIDL bulb
[code]
I've commented out the `logger.debug` statement at line 69 and now it seems to work fine.

I am a total newbie with Javascript, but it seems that the `logger` object is broken.

[2021-12-29 15:31] madchicken commented on #216
@hmyzero I finally got on this again and doing some research I found that the database is cleaned up by the herdsman library when the startup strategy is `startCommissioning`. The flow based on how the strategy is chosen is described here https://github.com/Koenkk/zigbee-herdsman/issues/286#issuecomment-761029689
Please, take a look at the graph and tell me if something looks weird to you

[2022-01-01 20:02] bgewehr opened #222 "Endless crash loop with Cskyzk e27 zigbee bulbs"
Great plugin, thank you for the excellent work!

These bulbs cause the plugin to crash and loop endlessly:
https://www.amazon.de/dp/B09KGQ3HH1?ref_=pe_27091401_487187591_302_E_DDE_dt_1

In this case, how to remove the breaking item from the setup to get back to normal activity?

[code]
Can I add the bulbs to the database for them to work properly? They were previously successfully paired with IKEA

[2022-01-01 20:08] bgewehr commented on #222
Turned out that zigbee.db was missing a closing } at the end. How can I help to find the reason for this?

[2022-01-02 04:49] bgewehr commented on #222
Got continued problems with that device:

[code]

Again in an endless loop...

[2022-01-02 05:06] bgewehr commented on #222
Deleted zigbee.db. Starting from scratch...

[2022-01-02 05:22] bgewehr commented on #222
Just for further information:
All devices reset, paired, working.

Again, this happens:

[code]

[2022-01-03 14:13] madchicken commented on #222
@bgewehr Sorry, I was out and I did not check this project in the last 2 weeks. It seems the converter (the function that is used to get/set values from/to the device) is failing with a timeout (connection issue?).
The whole logic is handled by the zigbee library, not by the plugin itself.
Just to be sure, the device failing is this one, correct? https://www.zigbee2mqtt.io/devices/FL_120_C.html

[2022-01-04 15:45] yannishuber commented on #195
This issue is still persisting in version 2.5.5.

[2022-01-04 16:42] britishchris opened #224 "Add support for Philips Hue Go (v2) and ST72 Bulbs"
Hi,
Is it possible to add support for the following Hue products? The logs show that the devices are unsupported.

Philips Hue Go (v2): https://www.lighting.philips.co.uk/consumer/choose-a-fixture/hue-go
**Model Number 7602031PU**
[Hue Go 7602031PU.txt](https://github.com/madchicken/homebridge-zigbee-nt/files/7809040/Hue.Go.7602031PU.txt)

Philips Hue White Filament ST72 https://www.philips-hue.co

[2022-01-08 07:48] hmyzero commented on #216
Sorry, but I have totally no idea about that flow graph......

[2022-01-13 08:33] #220 closed

[2022-01-13 08:53] #218 closed

[2022-01-13 08:56] madchicken commented on #221
@mdenty it seems a bug in the herdsman lib (a library I use as a dependency).
I just released a new version using an updated version of that library. Let's see if this is still happening. Feel free to reopen this issue if it does.

[2022-01-13 09:34] madchicken commented on #213
@maccoylton sorry for the late reply to this. Yes, you are right about `current_local_temperature`, but by looking at the device definition in the herdsman library codebase I cannot find the converter needed for that operation:

https://github.com/Koenkk/zigbee-herdsman-converters/blob/v14.0.366/devices/tuya.js#L871-L877

All the logic to communicate with the device is done through converters defi

[2022-01-13 10:48] #195 closed

[2022-01-14 07:48] madchicken commented on #222
I'll close this since it seems a filesystem problem. Feel free to reopen if it is still happening

[2022-01-14 07:48] #222 closed

[2022-01-14 15:36] madchicken commented on #222
Then you need to open a bug in the herdsman lib, because it's the one handling the read and write of the database file.
The repo URL is https://github.com/Koenkk/zigbee-herdsman

[2022-01-16 06:20] hmyzero commented on #216
After update to 2.5.6 the bug is fixed, great job!!!

a little more question, I add a Aqara motion sensor, it works fine. but in the homebridge log it continue prompts "[ZigBee] No need to configure device Aqara Motion Sensor" every 1 or 2 minute, is that normal?

[2022-01-16 11:40] mdenty commented on #221
@madchicken Yes it still occurs.
[code]
I'm a total noob with node js but when I go to : `/usr/lib/node_modules/homebridge-zigbee-nt`
and type : `npm list`
[code]
Is this normal ?

For now, I've commented out the line 69 in `/usr/lib/node_modules/homebridge-zigbee-nt/node_modules/zigbee-herdsman-converters/lib/light.js`: it makes it work.

[2022-01-16 11:42] madchicken commented on #216
@hmyzero I will check, I probably left some debug log in the code. Thanks for reporting.

[2022-01-16 11:42] #216 closed

[2022-01-16 11:47] madchicken commented on #221
@mdenty I think I found the issue. I'll reopen this, please wait for the next version

[2022-01-16 15:33] #221 closed

[2022-01-30 19:48] #213 closed

[2022-01-30 19:48] #219 closed

[2022-01-30 19:49] madchicken commented on #224
@britishchris any news on this issue?

[2022-02-16 02:20] #212 closed

[2022-02-18 02:19] #205 closed

[2022-02-20 02:19] #210 closed

[2022-03-04 15:38] davidXire opened #232 "[ZigBee] No need to configure device xxxx"
Hello,

Since the last version, the logs are spam of "[ZigBee] No need to configure device xxx"

Not critical, but just want to highlight !

Thanks for your work.

[2022-03-17 17:51] #224 closed

[2022-03-31 11:01] ansonf opened #236 "Error to restart and refresh the zigbee device, when i was adding the new device."
Error to restart and refresh the zigbee device, when i was adding the new device.

TypeError: Cannot read properties of null (reading 'ota')
    at ZigBeeClient.hasOTA (/usr/local/lib/node_modules/homebridge-zigbee-nt/src/zigbee/zig-bee-client.ts:518:39)
    at /usr/local/lib/node_modules/homebridge-zigbee-nt/src/web/api/devices.ts:29:56
    at Generator.next (<anonymous>)
    at /usr/local/lib/no

[2022-03-31 11:07] ansonf commented on #236
More detail here:
I think the problem is caused by Xiaomi QBKG03LM.

[31/03/2022, 19:02:55] [ZigBee] Reading KEY 'state' from '0x00158d000243cf66'
[31/03/2022, 19:02:55] [ZigBee] Reading KEY 'state' from '0x00158d000243cf66'
[31/03/2022, 19:02:55] Error: This callback function has already been called by someone else; it can only be called one time.
    at /usr/local/lib/node_modules/homebridge/nod

[2022-04-05 06:20] madchicken commented on #236
I will take a look. Thanks for reporting

[2022-04-12 11:27] Stevethebeef commented on #236
seems to be related to the Xiaomi/Aqara Switches. I am getting the same error with the Xiaomi aqara WXKG02LM

[2022-04-19 20:51] ansonf commented on #236
I have tried the other plugin - z2m with zigbeetomqtt. The switch is working fine.

[2022-04-20 08:48] madchicken commented on #236
I have probably to update the dependency with the zigbee library...it has been a while I don't update it

[2022-04-23 10:32] Nyaacinth opened #237 "Error occurred when adding some new devices, then all of paired devices were unpaired (or being accidentally removed)"
Logs:
[code]

[2022-04-23 13:28] madchicken commented on #237
This is totally unexpected. Could you please enable debug from the Homebridge UI settings and retry? I need more information to understand what happened

[2022-04-24 06:55] Nyaacinth commented on #237
[code]
Retried and this is the full log, I will open the debug options and try again. Thanks for response!

[2022-04-24 07:11] Nyaacinth commented on #237
I found that when the debug mode enabled, this device seems be successfully added...
![2jowO.png](https://s1.328888.xyz/2022/04/24/2jowO.png)
Then, should I try it again?

[2022-04-24 07:56] Nyaacinth commented on #237
After that, I added my all devices without any issue. Seems turning on debug mode solved this problem...

[2022-04-24 16:03] #232 closed

[2022-04-24 16:03] #236 closed

[2022-04-24 16:07] madchicken commented on #237
Closing the issue for now. Feel free to reopen it if this problem occurs again

[2022-04-24 16:07] #237 closed

[2022-04-28 07:53] davidXire opened #239 "Cannot find module 'uri-js'"
Hello,

When I installed the new version, I got this error stack when HB reboot

[2022-04-28 08:03] archiolochos commented on #239
i have got the same problem.

[2022-04-29 19:08] ucsbricks commented on #239
+1

[2022-05-01 15:29] tutasca commented on #239
Same here.
nothing seems to be working.
tried downgrade version. Still nothing. Any ideas??

[2022-05-05 17:39] sivakov512 commented on #239
+1

[2022-05-05 18:16] sivakov512 commented on #239
It can be temporary fixed with manual installation if `uri-js`
[code]

[2022-05-17 17:01] maccoylton opened #241 "Blank Screen in Zigbee Web Gui with version 2.5.8"
After installing the latest version I get a blank screen when trying to access the zigbee gui on port 9000. Running on Raspberry Pi bullseye.  A remove and re-install didn't fix this .

See screensot attached
[Zigbee Web Error.pdf](https://github.com/madchicken/homebridge-zigbee-nt/files/8710255/Zigbee.Web.Error.pdf)

[2022-05-21 13:12] remibou78 commented on #239
Hi, I've the same issue than [davidXire]. Manual installation of uri-js don't work.

Do you have any ideas ?
Thanks

[2022-05-21 15:34] davidXire commented on #239
Install previous one ? :)

[2022-06-01 11:14] davidXire opened #242 "SonOff SNZB-02 - Multiple sensor support"
I bought 2 SonOff SNZB-02 (Temperature Sensor).

The first pairing works, the sensor sends its data.
I add the second one, the pairing seems to work fine. Except that after a while the following error causes the server to crash

[01/06/2022, 13:12:46] [ZigBee] Cannot read properties of undefined (reading 'error')
[01/06/2022, 13:12:46] [ZigBee] Cannot read properties of undefined (reading 'error')

[2022-06-01 11:48] davidXire commented on #242
Log:

[01/06/2022, 13:45:32] [ZigBee] Updating service 00000049-0000-1000-8000-0026BB765291 for device Lumière WC with state { state: 'OFF', temperature: 30 }
[01/06/2022, 13:45:32] [ZigBee] Updating service 00000089-0000-1000-8000-0026BB765291 for device Lumière WC with state { state: 'OFF', temperature: 30 }
[01/06/2022, 13:45:37] [ZigBee] Zigbee message from Sensor2 {
  type: 'attributeReport',

[2022-06-01 12:20] davidXire commented on #242
I think I found the cause. I have removed all SonOff sensor and add again and no more crash but :

- When I add Sensor2 everything work
- When I add Sensor1, pairing work but i don't have data. And if you look the log behind, you can see it's the same "service ID" than sensor 2 "00000096-0000-1000-8000-0026BB765291"

[01/06/2022, 14:17:02] [ZigBee] Zigbee: allowing new devices to join.
[01/06/2022

[2022-06-05 20:20] Falc0n2k commented on #239
This worked for me, after I had already downgraded to node 12.22.12. Once I confirmed I was able to add the bridge to HomeKit, I upgraded to the latest LTS. Upon doing so, I got compatibility errors stating that the plugin was compiled using an older version of Node, so I removed the plugin, ran `sudo npm install -g uri-js` again under the latest Node LTS, and then reinstalled the plugin. I notice

[2022-06-15 11:41] archiolochos commented on #241
same here!

[2022-06-18 06:52] remibou78 commented on #239
Hi, there,

Can someone give me its configuration (including Homebridge, Node.js) please? I need to find stability :) Thanks

[2022-06-25 20:17] kapabel commented on #239
I have the same problem. I tried to manually install as quoted above but this didn’t do the trick for me either. Thanks for your help!

[2022-06-28 13:41] magnetarhotelrwanda opened #244 "Devices supported before update no longer supported"
So I have updated from v2.5.7 to v2.5.8 and had to roll back due to the "uri-js" bug. However devices that were supported before this are now reported as not supported and cant be added.

The devices in question are SONOFF ZBMINI-L which worked perfectly fine before doing the update then rolling back.

`
[28/06/2022, 13:27:38] [ZigBee] Initializing ZigBee device: 0x00124b0026b753c7 - ZBMINI-L - SO

[2022-06-28 17:11] jmaferreira commented on #241
Is happening to me as well!

[2022-06-29 19:02] setri100 commented on #239
Same problem! Manual install also didn't do the trick

[2022-06-30 20:19] Stevethebeef commented on #241
Same for me 😅

[2022-07-16 06:35] simon3789 commented on #241
Same here

[2022-07-18 17:05] remibou78 commented on #239
@madchicken fixed the problem with the new update. Thank you very much !!!!

[2022-07-21 13:51] ABRT29 opened #248 "ERROR serialport (DS120J and CC2531)"
hello, I have this error that appears, I try to build serialport but nothing works... do you have a solution? I want to use a CC2531 key on a Synology DS120J NAS with Homebridge

`ERROR LOADING PLUGIN homebridge-zigbee-nt:
[7/21/2022, 3:49:35 PM] Error: Could not locate the bindings file. Tried:
 → /volume1/homebridge/node_modules/homebridge-zigbee-nt/node_modules/@serialport/bindings/build/bindin

[2022-07-31 10:06] #239 closed

[2022-07-31 10:32] madchicken commented on #244
This is probably due to a change in the zigbee converters lib. I'll take a look

[2022-07-31 10:37] madchicken commented on #248
This seems more a problem of compilation...is this error showing up during the installation of the plugin? Which step did you execute?

[2022-07-31 10:56] madchicken commented on #244
I tested locally, and it seems to be correctly configured as a switch. Maybe it's cached by homebridge? Can you try to remove the cache key for that accessory? You should go under Homebridge settings and click on `Remove Single Cached Accessory`, then find the accessory (should be somryhing like `0x00124b0026b753c7 (homebridge-zigbee-nt)`). After deleting you have to restart homebridge

[2022-07-31 10:57] #242 closed

[2022-07-31 10:58] #241 closed

[2022-07-31 15:37] huggx01 opened #251 "HB crashes after trying to update the Firmware of IKEA Lightbulbs via Web UI"
HI,

As the title says... HB is always crashing, when i try to Update the firmware via the "Update Now" Button in the Zigbee WebUI.
I am on homebridge-zigbee-nt v2.5.10...

Any Hints/Ideas? @madchicken

[Sun Jul 31 2022] [ZigBee-UI] Request: http://192.168.x.y:9000/api/devices/0xd0cf5efffec7zzzz/checkForUpdates
[Sun Jul 31 2022] [ZigBee-UI] Request: http://192.168.x.y:9000/api/devices/0xd0cf5efffe

[2022-07-31 15:57] madchicken commented on #251
Could you try to reboot the whole system? It seems something related to the dongle...

[2022-09-16 19:29] #248 closed

[2022-09-16 19:30] madchicken commented on #244
Closing since inactivity. Feel free to reopen

[2022-09-16 19:30] #244 closed

[2022-09-16 19:33] madchicken commented on #251
This is probably the reason 😞

[2022-09-29 09:34] williamccc opened #252 "Child bridge crashed after failed interview of IKEA dimmer switch"
I'm using the **Sonoff ZBDongle-E** and set the adapter type to "ezsp". When pairing with an IKEA motion sensor there was no issue. Interview was successful and the device was exposed to Home Kit. However, the IKEA remote control and dimmer switch could not be recognised. I believe it was the problem of ZBDongle-E because zigbee2mqtt exhibited similar behaviour, showing them as unsupported devices

[2022-10-13 23:00] mrdcl opened #253 "Can't unpair devices on web UI, plugin sends SIGTERM"
Hi!

Been trying to unpair two devices that were paired unsuccessfully. Every time I click on the device, plugin crashes and sends SIGTERM to server. This is the log

[code]

Other devices work fine, just the two last ones (two aqara vibration sensors) make a mess every time.

![Captura de Pantalla 2022-10-13 a la(s) 19 58 50](https://user-images.githubusercontent.com/53311905/195725690-dc0c89f7-b